openapi: 3.2.0
info:
  title: RedisManagementClient Private Endpoint Connections API
  version: '2024-11-01'
  description: REST API for Azure Redis Cache Service.
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Private Endpoint Connections
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/redis/{cacheName}/privateEndpointConnections
  : get:
      operationId: PrivateEndpointConnections_List
      tags:
      - Private Endpoint Connections
      description: List all the private endpoint connections associated with the redis cache.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter
      - name: cacheName
        in: path
        description: The name of the Redis cache.
        required: true
        schema:
          type: string
          pattern: ^([a-zA-Z0-9][a-zA-Z0-9-]*[a-zA-Z0-9]|[a-zA-Z0-9])$
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateEndpointConnectionListResult'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse
      x-ms-examples:
        RedisCacheListPrivateEndpointConnection:
          $ref: ./examples/RedisCacheListPrivateEndpointConnections.json
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Private endpoint connections list
      x-summary-source: derived
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/redis/{cacheName}/privateEndpointConnections/{privateEndpointConnectionName}
  : get:
      operationId: PrivateEndpointConnections_Get
      tags:
      - Private Endpoint Connections
      description: Gets the specified private endpoint connection associated with the redis cache.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter
      - name: cacheName
        in: path
        description: The name of the Redis cache.
        required: true
        schema:
          type: string
          pattern: ^([a-zA-Z0-9][a-zA-Z0-9-]*[a-zA-Z0-9]|[a-zA-Z0-9])$
      - $ref: ../../../../../../common-types/resource-management/v4/privatelinks.json#/parameters/PrivateEndpointConnectionName
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v4/privatelinks.json#/definitions/PrivateEndpointConnection
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse
      x-ms-examples:
        RedisCacheGetPrivateEndpointConnection:
          $ref: ./examples/RedisCacheGetPrivateEndpointConnection.json
      summary: Private endpoint connections get
      x-summary-source: derived
    put:
      operationId: PrivateEndpointConnections_Put
      tags:
      - Private Endpoint Connections
      description: Update the state of specified private endpoint connection associated with the redis cache.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter
      - name: cacheName
        in: path
        description: The name of the Redis cache.
        required: true
        schema:
          type: string
          pattern: ^([a-zA-Z0-9][a-zA-Z0-9-]*[a-zA-Z0-9]|[a-zA-Z0-9])$
      - $ref: ../../../../../../common-types/resource-management/v4/privatelinks.json#/parameters/PrivateEndpointConnectionName
      responses:
        '200':
          description: Resource 'PrivateEndpointConnection' update operation succeeded
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v4/privatelinks.json#/definitions/PrivateEndpointConnection
        '201':
          description: Resource 'PrivateEndpointConnection' create operation succeeded
          headers:
            Location:
              description: The Location header contains the URL where the status of the long running operation can be checked.
              schema:
                type: string
            Retry-After:
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
              schema:
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v4/privatelinks.json#/definitions/PrivateEndpointConnection
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse
      x-ms-examples:
        RedisCachePutPrivateEndpointConnection:
          $ref: ./examples/RedisCachePutPrivateEndpointConnection.json
      x-ms-long-running-operation-options:
        final-state-via: location
        final-state-schema: ../../../../../../common-types/resource-management/v4/privatelinks.json#/definitions/PrivateEndpointConnection
      x-ms-long-running-operation: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: ../../../../../../common-types/resource-management/v4/privatelinks.json#/definitions/PrivateEndpointConnection
        description: The private endpoint connection properties.
        required: true
      summary: Private endpoint connections put
      x-summary-source: derived
    delete:
      operationId: PrivateEndpointConnections_Delete
      tags:
      - Private Endpoint Connections
      description: Deletes the specified private endpoint connection associated with the redis cache.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter
      - name: cacheName
        in: path
        description: The name of the Redis cache.
        required: true
        schema:
          type: string
          pattern: ^([a-zA-Z0-9][a-zA-Z0-9-]*[a-zA-Z0-9]|[a-zA-Z0-9])$
      - $ref: ../../../../../../common-types/resource-management/v4/privatelinks.json#/parameters/PrivateEndpointConnectionName
      responses:
        '200':
          description: Resource deleted successfully.
        '204':
          description: Resource does not exist.
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse
      x-ms-examples:
        RedisCacheDeletePrivateEndpointConnection:
          $ref: ./examples/RedisCacheDeletePrivateEndpointConnection.json
      summary: Private endpoint connections delete
      x-summary-source: derived
components:
  schemas:
    PrivateEndpointConnectionListResult:
      type: object
      description: The response of a PrivateEndpointConnection list operation.
      properties:
        value:
          type: array
          description: The PrivateEndpointConnection items on this page
          items:
            $ref: ../../../../../../common-types/resource-management/v4/privatelinks.json#/definitions/PrivateEndpointConnection
        nextLink:
          type: string
          format: uri
          description: The link to the next page of items
      required:
      - value
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
