openapi: 3.2.0
info:
  title: RedisManagementClient Subscriptions API
  version: '2024-11-01'
  description: REST API for Azure Redis Cache Service.
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Subscriptions
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Cache/checkNameAvailability:
    post:
      operationId: Redis_CheckNameAvailability
      description: Checks that the redis cache name is valid and is not already in use.
      parameters:
      - $ref: null
      - $ref: null
      responses:
        '200':
          description: The request has succeeded.
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: null
      x-ms-examples:
        RedisCacheCheckNameAvailability:
          $ref: ../examples/microsoft-azure-cache-for-redis-redis-cache-check-name-availability-example.json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckNameAvailabilityParameters'
        description: The request body
        required: true
      tags:
      - Subscriptions
  /subscriptions/{subscriptionId}/providers/Microsoft.Cache/locations/{location}/asyncOperations/{operationId}:
    get:
      operationId: AsyncOperationStatus_Get
      description: For checking the ongoing status of an operation
      parameters:
      - $ref: null
      - name: location
        in: path
        description: The location at which operation was triggered
        required: true
        schema:
          type: string
      - name: operationId
        in: path
        description: The ID of asynchronous operation
        required: true
        schema:
          type: string
      - $ref: null
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationStatus'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: null
      x-ms-examples:
        RedisCacheAsyncOperationStatus:
          $ref: ../examples/microsoft-azure-cache-for-redis-redis-cache-async-operation-status-example.json
      tags:
      - Subscriptions
components:
  schemas:
    OperationStatus:
      type: object
      description: Asynchronous operation status
      properties:
        properties:
          type: object
          description: Additional properties from RP, only when operation is successful
          additionalProperties: {}
      allOf:
      - $ref: null
    CheckNameAvailabilityParameters:
      type: object
      description: Parameters body to pass for resource name availability check.
      properties:
        name:
          type: string
          description: Resource name.
        type:
          type: string
          description: Resource type. The only legal value of this property for checking redis cache name availability is
            'Microsoft.Cache/redis'.
      required:
      - name
      - type
    ErrorResponse:
      type: object
      title: Error response
      description: Common error response for all Azure Resource Manager APIs to return error details for failed operations.
        (This also follows the OData error response format.).
      properties:
        error:
          $ref: '#/components/schemas/ErrorDetail'
          description: The error object.
    ErrorDetail:
      type: object
      description: The error detail.
      properties:
        code:
          type: string
          description: The error code.
          readOnly: true
        message:
          type: string
          description: The error message.
          readOnly: true
        target:
          type: string
          description: The error target.
          readOnly: true
        details:
          type: array
          description: The error details.
          items:
            $ref: '#/components/schemas/ErrorDetail'
          readOnly: true
          x-ms-identifiers:
          - message
          - target
        additionalInfo:
          type: array
          description: The error additional info.
          items:
            $ref: '#/components/schemas/ErrorAdditionalInfo'
          readOnly: true
          x-ms-identifiers: []
    ErrorAdditionalInfo:
      type: object
      description: The resource management error additional info.
      properties:
        type:
          type: string
          description: The additional info type.
          readOnly: true
        info:
          type: object
          description: The additional info.
          readOnly: true
    OperationStatusResult:
      type: object
      description: The current status of an async operation.
      properties:
        id:
          type: string
          description: Fully qualified ID for the async operation.
        name:
          type: string
          description: Name of the async operation.
        status:
          type: string
          description: Operation status.
        percentComplete:
          type: number
          description: Percent of the operation that is complete.
          minimum: 0
          maximum: 100
        startTime:
          type: string
          format: date-time
          description: The start time of the operation.
        endTime:
          type: string
          format: date-time
          description: The end time of the operation.
        operations:
          type: array
          description: The operations list.
          items:
            $ref: '#/components/schemas/OperationStatusResult'
        error:
          $ref: '#/components/schemas/ErrorDetail'
          description: If present, details of the operation error.
      required:
      - status
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
  parameters:
    ApiVersionParameter:
      name: api-version
      in: query
      description: The API version to use for this operation.
      required: true
      schema:
        type: string
        minLength: 1
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: The ID of the target subscription. The value must be an UUID.
      required: true
      schema:
        type: string
        format: uuid
