openapi: 3.2.0
info:
  title: RedisManagementClient Operations API
  version: '2024-11-01'
  description: REST API for Azure Redis Cache Service.
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Operations
paths:
  /providers/Microsoft.Cache/operations:
    get:
      operationId: Operations_List
      tags:
      - Operations
      description: List the operations for the provider
      parameters:
      - $ref: null
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationListResult'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: null
      x-ms-examples:
        RedisCacheOperations:
          $ref: ../examples/microsoft-azure-cache-for-redis-redis-cache-operations-example.json
      x-ms-pageable:
        nextLinkName: nextLink
components:
  schemas:
    OperationDisplay:
      type: object
      description: The object that describes the operation.
      properties:
        provider:
          type: string
          description: Friendly name of the resource provider
        operation:
          type: string
          description: 'Operation type: read, write, delete, listKeys/action, etc.'
        resource:
          type: string
          description: Resource type on which the operation is performed.
        description:
          type: string
          description: Friendly name of the operation
    OperationListResult:
      type: object
      description: Result of the request to list REST API operations. It contains a list of operations and a URL nextLink
        to get the next set of results.
      properties:
        value:
          type: array
          description: List of operations supported by the resource provider.
          items:
            $ref: '#/components/schemas/Operation'
          x-ms-identifiers:
          - name
        nextLink:
          type: string
          description: URL to get the next set of operation list results if there are any.
      required:
      - value
    Operation:
      type: object
      description: REST API operation
      properties:
        name:
          type: string
          description: 'Operation name: {provider}/{resource}/{operation}'
        display:
          $ref: '#/components/schemas/OperationDisplay'
          description: The object that describes the operation.
    ErrorResponse:
      type: object
      title: Error response
      description: Common error response for all Azure Resource Manager APIs to return error details for failed operations.
        (This also follows the OData error response format.).
      properties:
        error:
          $ref: '#/components/schemas/ErrorDetail'
          description: The error object.
    ErrorDetail:
      type: object
      description: The error detail.
      properties:
        code:
          type: string
          description: The error code.
          readOnly: true
        message:
          type: string
          description: The error message.
          readOnly: true
        target:
          type: string
          description: The error target.
          readOnly: true
        details:
          type: array
          description: The error details.
          items:
            $ref: '#/components/schemas/ErrorDetail'
          readOnly: true
          x-ms-identifiers:
          - message
          - target
        additionalInfo:
          type: array
          description: The error additional info.
          items:
            $ref: '#/components/schemas/ErrorAdditionalInfo'
          readOnly: true
          x-ms-identifiers: []
    ErrorAdditionalInfo:
      type: object
      description: The resource management error additional info.
      properties:
        type:
          type: string
          description: The additional info type.
          readOnly: true
        info:
          type: object
          description: The additional info.
          readOnly: true
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
  parameters:
    ApiVersionParameter:
      name: api-version
      in: query
      description: The API version to use for this operation.
      required: true
      schema:
        type: string
        minLength: 1
