openapi: 3.2.0
info:
  title: RedisManagementClient Redis Cache Access Policies API
  version: '2024-11-01'
  description: REST API for Azure Redis Cache Service.
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: RedisCacheAccessPolicies
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/redis/{cacheName}/accessPolicies
  : get:
      operationId: AccessPolicy_List
      tags:
      - RedisCacheAccessPolicies
      description: Gets the list of access policies associated with this redis cache
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter
      - name: cacheName
        in: path
        description: The name of the Redis cache.
        required: true
        schema:
          type: string
          pattern: ^([a-zA-Z0-9][a-zA-Z0-9-]*[a-zA-Z0-9]|[a-zA-Z0-9])$
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RedisCacheAccessPolicyList'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse
      x-ms-examples:
        RedisCacheAccessPolicyList:
          $ref: ./examples/RedisCacheAccessPolicyList.json
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Access policy list
      x-summary-source: derived
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/redis/{cacheName}/accessPolicies/{accessPolicyName}
  : get:
      operationId: AccessPolicy_Get
      tags:
      - RedisCacheAccessPolicies
      description: Gets the detailed information about an access policy of a redis cache
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter
      - name: cacheName
        in: path
        description: The name of the Redis cache.
        required: true
        schema:
          type: string
          pattern: ^([a-zA-Z0-9][a-zA-Z0-9-]*[a-zA-Z0-9]|[a-zA-Z0-9])$
      - name: accessPolicyName
        in: path
        description: The name of the access policy that is being added to the Redis cache.
        required: true
        schema:
          type: string
          maxLength: 63
          minLength: 3
          pattern: ^([a-zA-Z0-9][a-zA-Z0-9- ]*[a-zA-Z0-9]|[a-zA-Z0-9])$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RedisCacheAccessPolicy'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse
      x-ms-examples:
        RedisCacheAccessPolicyGet:
          $ref: ./examples/RedisCacheAccessPolicyGet.json
      summary: Access policy get
      x-summary-source: derived
    put:
      operationId: AccessPolicy_CreateUpdate
      tags:
      - RedisCacheAccessPolicies
      description: Adds an access policy to the redis cache
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter
      - name: cacheName
        in: path
        description: The name of the Redis cache.
        required: true
        schema:
          type: string
          pattern: ^([a-zA-Z0-9][a-zA-Z0-9-]*[a-zA-Z0-9]|[a-zA-Z0-9])$
      - name: accessPolicyName
        in: path
        description: The name of the access policy that is being added to the Redis cache.
        required: true
        schema:
          type: string
          maxLength: 63
          minLength: 3
          pattern: ^([a-zA-Z0-9][a-zA-Z0-9- ]*[a-zA-Z0-9]|[a-zA-Z0-9])$
      responses:
        '200':
          description: Resource 'RedisCacheAccessPolicy' update operation succeeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RedisCacheAccessPolicy'
        '201':
          description: Resource 'RedisCacheAccessPolicy' create operation succeeded
          headers:
            Location:
              description: The Location header contains the URL where the status of the long running operation can be checked.
              schema:
                type: string
            Retry-After:
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
              schema:
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RedisCacheAccessPolicy'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse
      x-ms-examples:
        RedisCacheAccessPolicyCreateUpdate:
          $ref: ./examples/RedisCacheAccessPolicyCreateUpdate.json
      x-ms-long-running-operation-options:
        final-state-via: location
        final-state-schema: '#/definitions/RedisCacheAccessPolicy'
      x-ms-long-running-operation: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RedisCacheAccessPolicy'
        description: Parameters supplied to the Create Update Access Policy operation.
        required: true
      summary: Access policy create update
      x-summary-source: derived
    delete:
      operationId: AccessPolicy_Delete
      tags:
      - RedisCacheAccessPolicies
      description: Deletes the access policy from a redis cache
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter
      - name: cacheName
        in: path
        description: The name of the Redis cache.
        required: true
        schema:
          type: string
          pattern: ^([a-zA-Z0-9][a-zA-Z0-9-]*[a-zA-Z0-9]|[a-zA-Z0-9])$
      - name: accessPolicyName
        in: path
        description: The name of the access policy that is being added to the Redis cache.
        required: true
        schema:
          type: string
          maxLength: 63
          minLength: 3
          pattern: ^([a-zA-Z0-9][a-zA-Z0-9- ]*[a-zA-Z0-9]|[a-zA-Z0-9])$
      responses:
        '200':
          description: Resource deleted successfully.
        '202':
          description: Resource deletion accepted.
          headers:
            Location:
              description: The Location header contains the URL where the status of the long running operation can be checked.
              schema:
                type: string
            Retry-After:
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
              schema:
                type: integer
                format: int32
        '204':
          description: Resource does not exist.
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse
      x-ms-examples:
        RedisCacheAccessPolicyDelete:
          $ref: ./examples/RedisCacheAccessPolicyDelete.json
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-long-running-operation: true
      summary: Access policy delete
      x-summary-source: derived
components:
  schemas:
    AccessPolicyType:
      type: string
      description: Built-In or Custom access policy
      enum:
      - Custom
      - BuiltIn
      x-ms-enum:
        name: AccessPolicyType
        modelAsString: true
        values:
        - name: Custom
          value: Custom
          description: User-configurable access policy, using the redis access policy authoring language
        - name: BuiltIn
          value: BuiltIn
          description: Built-in or well-known access policies, whose policy is not configurable.
    RedisCacheAccessPolicyProperties:
      type: object
      description: All properties of an access policy.
      properties:
        provisioningState:
          $ref: '#/components/schemas/AccessPolicyProvisioningState'
          description: Provisioning state of access policy
          readOnly: true
        type:
          $ref: '#/components/schemas/AccessPolicyType'
          description: Built-In or Custom access policy
          readOnly: true
        permissions:
          type: string
          description: Permissions for the access policy. Learn how to configure permissions at https://aka.ms/redis/AADPreRequisites
      required:
      - permissions
    RedisCacheAccessPolicy:
      type: object
      description: Response to get/put access policy.
      properties:
        properties:
          $ref: '#/components/schemas/RedisCacheAccessPolicyProperties'
          description: Properties of an access policy.
          x-ms-client-flatten: true
      allOf:
      - $ref: ../../../../../../common-types/resource-management/v4/types.json#/definitions/ProxyResource
    AccessPolicyProvisioningState:
      type: string
      description: Provisioning state of access policy
      enum:
      - Updating
      - Succeeded
      - Deleting
      - Deleted
      - Canceled
      - Failed
      x-ms-enum:
        name: AccessPolicyProvisioningState
        modelAsString: true
        values:
        - name: Updating
          value: Updating
          description: An operation is in progress.
        - name: Succeeded
          value: Succeeded
          description: The operation succeeded.
        - name: Deleting
          value: Deleting
          description: A delete operation is in progress.
        - name: Deleted
          value: Deleted
          description: The access policy is considered deleted, if it still exists.
        - name: Canceled
          value: Canceled
          description: The operation was canceled. Access policies may be in a partially updated state. Update them again to have a well-defined state.
        - name: Failed
          value: Failed
          description: The operation failed. Access policies may be in a partially updated state. Update them again to have a well-defined state.
    RedisCacheAccessPolicyList:
      type: object
      description: List of access policies (with properties) of a Redis cache.
      properties:
        value:
          type: array
          description: The RedisCacheAccessPolicy items on this page
          items:
            $ref: '#/components/schemas/RedisCacheAccessPolicy'
        nextLink:
          type: string
          format: uri
          description: The link to the next page of items
      required:
      - value
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
