openapi: 3.2.0
info:
  title: RedisManagementClient Linked Server API
  version: '2024-11-01'
  description: REST API for Azure Redis Cache Service.
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: LinkedServer
paths:
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/redis/{name}/linkedServers:
    get:
      operationId: LinkedServer_List
      tags:
      - LinkedServer
      description: Gets the list of linked servers associated with this redis cache (requires Premium SKU).
      parameters:
      - $ref: null
      - $ref: null
      - $ref: null
      - name: name
        in: path
        description: The name of the redis cache.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RedisLinkedServerWithPropertiesList'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: null
      x-ms-examples:
        LinkedServer_List:
          $ref: ../examples/microsoft-azure-cache-for-redis-redis-cache-linked-server_-list-example.json
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/redis/{name}/linkedServers/{linkedServerName}
  : get:
      operationId: LinkedServer_Get
      tags:
      - LinkedServer
      description: Gets the detailed information about a linked server of a redis cache (requires Premium SKU).
      parameters:
      - $ref: null
      - $ref: null
      - $ref: null
      - name: name
        in: path
        description: The name of the redis cache.
        required: true
        schema:
          type: string
      - name: linkedServerName
        in: path
        description: The name of the RedisLinkedServerWithProperties
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RedisLinkedServerWithProperties'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: null
      x-ms-examples:
        LinkedServer_Get:
          $ref: ../examples/microsoft-azure-cache-for-redis-redis-cache-linked-server_-get-example.json
    put:
      operationId: LinkedServer_Create
      tags:
      - LinkedServer
      description: Adds a linked server to the Redis cache (requires Premium SKU).
      parameters:
      - $ref: null
      - $ref: null
      - $ref: null
      - name: name
        in: path
        description: The name of the redis cache.
        required: true
        schema:
          type: string
      - name: linkedServerName
        in: path
        description: The name of the RedisLinkedServerWithProperties
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RedisLinkedServerWithProperties'
        '201':
          description: Resource 'RedisLinkedServerWithProperties' create operation succeeded
          headers:
            Location:
              description: The Location header contains the URL where the status of the long running operation can be checked.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RedisLinkedServerWithProperties'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: null
      x-ms-examples:
        LinkedServer_Create:
          $ref: ../examples/microsoft-azure-cache-for-redis-redis-cache-linked-server_-create-example.json
      x-ms-long-running-operation-options:
        final-state-via: location
        final-state-schema: '#/definitions/RedisLinkedServerWithProperties'
      x-ms-long-running-operation: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RedisLinkedServerCreateParameters'
        description: Parameters supplied to the Create Linked server operation.
        required: true
    delete:
      operationId: LinkedServer_Delete
      tags:
      - LinkedServer
      description: Deletes the linked server from a redis cache (requires Premium SKU).
      parameters:
      - $ref: null
      - $ref: null
      - $ref: null
      - name: name
        in: path
        description: The name of the redis cache.
        required: true
        schema:
          type: string
      - name: linkedServerName
        in: path
        description: The name of the RedisLinkedServerWithProperties
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Resource deleted successfully.
        '202':
          description: Resource deletion accepted.
          headers:
            Location:
              description: The Location header contains the URL where the status of the long running operation can be checked.
              schema:
                type: string
            Retry-After:
              description: The Retry-After header can indicate how long the client should wait before polling the operation
                status.
              schema:
                type: integer
                format: int32
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: null
      x-ms-examples:
        LinkedServerDelete:
          $ref: ../examples/microsoft-azure-cache-for-redis-redis-cache-linked-server_-delete-example.json
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-long-running-operation: true
components:
  schemas:
    RedisLinkedServerWithPropertiesList:
      type: object
      description: List of linked servers (with properties) of a Redis cache.
      properties:
        value:
          type: array
          description: The RedisLinkedServerWithProperties items on this page
          items:
            $ref: '#/components/schemas/RedisLinkedServerWithProperties'
        nextLink:
          type: string
          format: uri
          description: The link to the next page of items
      required:
      - value
    ReplicationRole:
      type: string
      description: Role of the linked server.
      enum:
      - Primary
      - Secondary
      x-ms-enum:
        name: ReplicationRole
        modelAsString: false
        values:
        - name: Primary
          value: Primary
          description: The linked server is in the writable primary role
        - name: Secondary
          value: Secondary
          description: The linked server is in the read-only replica role
    RedisLinkedServerWithProperties:
      type: object
      description: Response to put/get linked server (with properties) for Redis cache.
      properties:
        properties:
          $ref: '#/components/schemas/RedisLinkedServerProperties'
          description: Properties of the linked server.
          x-ms-client-flatten: true
      allOf:
      - $ref: null
    RedisLinkedServerCreateParameters:
      type: object
      description: Parameter required for creating a linked server to redis cache.
      properties:
        properties:
          $ref: '#/components/schemas/RedisLinkedServerCreateProperties'
          description: Properties required to create a linked server.
          x-ms-client-flatten: true
      required:
      - properties
    RedisLinkedServerCreateProperties:
      type: object
      description: Create properties for a linked server
      properties:
        linkedRedisCacheId:
          type: string
          description: Fully qualified resourceId of the linked redis cache.
        linkedRedisCacheLocation:
          type: string
          description: Location of the linked redis cache.
          x-ms-mutability:
          - read
          - create
        serverRole:
          $ref: '#/components/schemas/ReplicationRole'
          description: Role of the linked server.
        geoReplicatedPrimaryHostName:
          type: string
          description: The unchanging DNS name which will always point to current geo-primary cache among the linked redis
            caches for seamless Geo Failover experience.
          readOnly: true
        primaryHostName:
          type: string
          description: The changing DNS name that resolves to the current geo-primary cache among the linked redis caches
            before or after the Geo Failover.
          readOnly: true
      required:
      - linkedRedisCacheId
      - linkedRedisCacheLocation
      - serverRole
    RedisLinkedServerProperties:
      type: object
      description: Properties of a linked server to be returned in get/put response
      properties:
        provisioningState:
          type: string
          description: Terminal state of the link between primary and secondary redis cache.
          readOnly: true
      allOf:
      - $ref: '#/components/schemas/RedisLinkedServerCreateProperties'
    ErrorResponse:
      type: object
      title: Error response
      description: Common error response for all Azure Resource Manager APIs to return error details for failed operations.
        (This also follows the OData error response format.).
      properties:
        error:
          $ref: '#/components/schemas/ErrorDetail'
          description: The error object.
    ErrorDetail:
      type: object
      description: The error detail.
      properties:
        code:
          type: string
          description: The error code.
          readOnly: true
        message:
          type: string
          description: The error message.
          readOnly: true
        target:
          type: string
          description: The error target.
          readOnly: true
        details:
          type: array
          description: The error details.
          items:
            $ref: '#/components/schemas/ErrorDetail'
          readOnly: true
          x-ms-identifiers:
          - message
          - target
        additionalInfo:
          type: array
          description: The error additional info.
          items:
            $ref: '#/components/schemas/ErrorAdditionalInfo'
          readOnly: true
          x-ms-identifiers: []
    ErrorAdditionalInfo:
      type: object
      description: The resource management error additional info.
      properties:
        type:
          type: string
          description: The additional info type.
          readOnly: true
        info:
          type: object
          description: The additional info.
          readOnly: true
    ProxyResource:
      type: object
      title: Proxy Resource
      description: The resource model definition for a Azure Resource Manager proxy resource. It will not have tags and a
        location
      allOf:
      - $ref: '#/components/schemas/Resource'
    Resource:
      type: object
      title: Resource
      description: Common fields that are returned in the response for all Azure Resource Manager resources
      properties:
        id:
          type: string
          format: arm-id
          description: Fully qualified resource ID for the resource. E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          readOnly: true
        name:
          type: string
          description: The name of the resource
          readOnly: true
        type:
          type: string
          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines" or "Microsoft.Storage/storageAccounts"
          readOnly: true
        systemData:
          $ref: '#/components/schemas/systemData'
          type: object
          description: Azure Resource Manager metadata containing createdBy and modifiedBy information.
          readOnly: true
      x-ms-azure-resource: true
    systemData:
      type: object
      description: Metadata pertaining to creation and last modification of the resource.
      properties:
        createdBy:
          type: string
          description: The identity that created the resource.
        createdByType:
          type: string
          description: The type of identity that created the resource.
          enum:
          - User
          - Application
          - ManagedIdentity
          - Key
          x-ms-enum:
            name: createdByType
            modelAsString: true
        createdAt:
          type: string
          format: date-time
          description: The timestamp of resource creation (UTC).
        lastModifiedBy:
          type: string
          description: The identity that last modified the resource.
        lastModifiedByType:
          type: string
          description: The type of identity that last modified the resource.
          enum:
          - User
          - Application
          - ManagedIdentity
          - Key
          x-ms-enum:
            name: createdByType
            modelAsString: true
        lastModifiedAt:
          type: string
          format: date-time
          description: The timestamp of resource last modification (UTC)
      readOnly: true
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
  parameters:
    ApiVersionParameter:
      name: api-version
      in: query
      description: The API version to use for this operation.
      required: true
      schema:
        type: string
        minLength: 1
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: The ID of the target subscription. The value must be an UUID.
      required: true
      schema:
        type: string
        format: uuid
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      description: The name of the resource group. The name is case insensitive.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 90
