openapi: 3.2.0
info:
  title: RedisManagementClient Redis Resources API
  version: '2024-11-01'
  description: REST API for Azure Redis Cache Service.
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: RedisResources
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Cache/redis:
    get:
      operationId: Redis_ListBySubscription
      tags:
      - RedisResources
      description: Gets all Redis caches in the specified subscription.
      parameters:
      - $ref: null
      - $ref: null
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RedisListResult'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: null
      x-ms-examples:
        RedisCacheList:
          $ref: ../examples/microsoft-azure-cache-for-redis-redis-cache-list-example.json
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/redis:
    get:
      operationId: Redis_ListByResourceGroup
      tags:
      - RedisResources
      description: Lists all Redis caches in a resource group.
      parameters:
      - $ref: null
      - $ref: null
      - $ref: null
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RedisListResult'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: null
      x-ms-examples:
        RedisCacheListByResourceGroup:
          $ref: ../examples/microsoft-azure-cache-for-redis-redis-cache-list-by-resource-group-example.json
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/redis/{name}:
    get:
      operationId: Redis_Get
      tags:
      - RedisResources
      description: Gets a Redis cache (resource description).
      parameters:
      - $ref: null
      - $ref: null
      - $ref: null
      - name: name
        in: path
        description: The name of the RedisResource
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RedisResource'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: null
      x-ms-examples:
        RedisCacheGet:
          $ref: ../examples/microsoft-azure-cache-for-redis-redis-cache-get-example.json
    put:
      operationId: Redis_Create
      tags:
      - RedisResources
      description: Create or replace (overwrite/recreate, with potential downtime) an existing Redis cache.
      parameters:
      - $ref: null
      - $ref: null
      - $ref: null
      - name: name
        in: path
        description: The name of the RedisResource
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RedisResource'
        '201':
          description: Resource 'RedisResource' create operation succeeded
          headers:
            Location:
              description: The Location header contains the URL where the status of the long running operation can be checked.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RedisResource'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: null
      x-ms-examples:
        RedisCacheCreate:
          $ref: ../examples/microsoft-azure-cache-for-redis-redis-cache-create-example.json
        RedisCacheCreateAutomaticZonalAllocationPolicy:
          $ref: ../examples/microsoft-azure-cache-for-redis-redis-cache-create-automatic-zonal-allocation-policy-example.json
        RedisCacheCreateDefaultVersion:
          $ref: ../examples/microsoft-azure-cache-for-redis-redis-cache-create-default-version-example.json
        RedisCacheCreateLatestVersion:
          $ref: ../examples/microsoft-azure-cache-for-redis-redis-cache-create-latest-version-example.json
        RedisCacheCreateNoZonesZonalAllocationPolicy:
          $ref: ../examples/microsoft-azure-cache-for-redis-redis-cache-create-no-zones-zonal-allocation-policy-example.json
        RedisCacheCreateUserDefinedZonalAllocationPolicy:
          $ref: ../examples/microsoft-azure-cache-for-redis-redis-cache-create-user-defined-zonal-allocation-policy-example.json
      x-ms-long-running-operation-options:
        final-state-via: location
        final-state-schema: '#/definitions/RedisResource'
      x-ms-long-running-operation: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RedisCreateParameters'
        description: Parameters supplied to the Create Redis operation.
        required: true
    patch:
      operationId: Redis_Update
      tags:
      - RedisResources
      description: Update an existing Redis cache.
      parameters:
      - $ref: null
      - $ref: null
      - $ref: null
      - name: name
        in: path
        description: The name of the RedisResource
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RedisResource'
        '202':
          description: The request has been accepted for processing, but processing has not yet completed.
          headers:
            Location:
              description: The Location header contains the URL where the status of the long running operation can be checked.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RedisResource'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: null
      x-ms-examples:
        RedisCacheUpdate:
          $ref: ../examples/microsoft-azure-cache-for-redis-redis-cache-update-example.json
      x-ms-long-running-operation-options:
        final-state-via: location
        final-state-schema: '#/definitions/RedisResource'
      x-ms-long-running-operation: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RedisUpdateParameters'
        description: Parameters supplied to the Update Redis operation.
        required: true
    delete:
      operationId: Redis_Delete
      tags:
      - RedisResources
      description: Deletes a Redis cache.
      parameters:
      - $ref: null
      - $ref: null
      - $ref: null
      - name: name
        in: path
        description: The name of the RedisResource
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Resource deleted successfully.
        '202':
          description: Resource deletion accepted.
          headers:
            Location:
              description: The Location header contains the URL where the status of the long running operation can be checked.
              schema:
                type: string
            Retry-After:
              description: The Retry-After header can indicate how long the client should wait before polling the operation
                status.
              schema:
                type: integer
                format: int32
        '204':
          description: Resource does not exist.
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: null
      x-ms-examples:
        RedisCacheDelete:
          $ref: ../examples/microsoft-azure-cache-for-redis-redis-cache-delete-example.json
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-long-running-operation: true
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/redis/{name}/export:
    post:
      operationId: Redis_ExportData
      tags:
      - RedisResources
      description: Export data from the redis cache to blobs in a container.
      parameters:
      - $ref: null
      - $ref: null
      - $ref: null
      - name: name
        in: path
        description: The name of the RedisResource
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The request has succeeded.
        '202':
          description: Resource operation accepted.
          headers:
            Location:
              description: The Location header contains the URL where the status of the long running operation can be checked.
              schema:
                type: string
            Retry-After:
              description: The Retry-After header can indicate how long the client should wait before polling the operation
                status.
              schema:
                type: integer
                format: int32
        '204':
          description: Operation completed successfully.
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: null
      x-ms-examples:
        RedisCacheExport:
          $ref: ../examples/microsoft-azure-cache-for-redis-redis-cache-export-example.json
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-long-running-operation: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExportRDBParameters'
        description: Parameters for Redis export operation.
        required: true
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/redis/{cacheName}/flush:
    post:
      operationId: Redis_FlushCache
      tags:
      - RedisResources
      description: Deletes all of the keys in a cache.
      parameters:
      - $ref: null
      - $ref: null
      - $ref: null
      - name: cacheName
        in: path
        description: The name of the Redis cache.
        required: true
        schema:
          type: string
          pattern: ^([a-zA-Z0-9][a-zA-Z0-9-]*[a-zA-Z0-9]|[a-zA-Z0-9])$
      responses:
        '200':
          description: The request has succeeded.
          headers:
            Azure-AsyncOperation:
              description: A link to the status monitor
              schema:
                type: string
                format: uri
            Location:
              description: The Location header contains the URL where the status of the long running operation can be checked.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: null
        '202':
          description: Resource operation accepted.
          headers:
            Azure-AsyncOperation:
              description: A link to the status monitor
              schema:
                type: string
                format: uri
            Location:
              description: The Location header contains the URL where the status of the long running operation can be checked.
              schema:
                type: string
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: null
      x-ms-examples:
        RedisCacheFlush:
          $ref: ../examples/microsoft-azure-cache-for-redis-redis-cache-flush-example.json
      x-ms-long-running-operation-options:
        final-state-via: location
        final-state-schema: null
      x-ms-long-running-operation: true
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/redis/{name}/forceReboot:
    post:
      operationId: Redis_ForceReboot
      tags:
      - RedisResources
      description: Reboot specified Redis node(s). This operation requires write permission to the cache resource. There can
        be potential data loss.
      parameters:
      - $ref: null
      - $ref: null
      - $ref: null
      - name: name
        in: path
        description: The name of the RedisResource
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RedisForceRebootResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: null
      x-ms-examples:
        RedisCacheForceReboot:
          $ref: ../examples/microsoft-azure-cache-for-redis-redis-cache-force-reboot-example.json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RedisRebootParameters'
        description: Specifies which Redis node(s) to reboot.
        required: true
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/redis/{name}/import:
    post:
      operationId: Redis_ImportData
      tags:
      - RedisResources
      description: Import data into Redis cache.
      parameters:
      - $ref: null
      - $ref: null
      - $ref: null
      - name: name
        in: path
        description: The name of the RedisResource
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The request has succeeded.
        '202':
          description: Resource operation accepted.
          headers:
            Location:
              description: The Location header contains the URL where the status of the long running operation can be checked.
              schema:
                type: string
            Retry-After:
              description: The Retry-After header can indicate how long the client should wait before polling the operation
                status.
              schema:
                type: integer
                format: int32
        '204':
          description: Operation completed successfully.
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: null
      x-ms-examples:
        RedisCacheImport:
          $ref: ../examples/microsoft-azure-cache-for-redis-redis-cache-import-example.json
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-long-running-operation: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImportRDBParameters'
        description: Parameters for Redis import operation.
        required: true
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/redis/{name}/listKeys:
    post:
      operationId: Redis_ListKeys
      tags:
      - RedisResources
      description: Retrieve a Redis cache's access keys. This operation requires write permission to the cache resource.
      parameters:
      - $ref: null
      - $ref: null
      - $ref: null
      - name: name
        in: path
        description: The name of the RedisResource
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RedisAccessKeys'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: null
      x-ms-examples:
        RedisCacheListKeys:
          $ref: ../examples/microsoft-azure-cache-for-redis-redis-cache-list-keys-example.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/redis/{name}/listUpgradeNotifications
  : get:
      operationId: Redis_ListUpgradeNotifications
      tags:
      - RedisResources
      description: '[Deprecated] Gets any upgrade notifications for a Redis cache.'
      parameters:
      - $ref: null
      - $ref: null
      - $ref: null
      - name: name
        in: path
        description: The name of the RedisResource
        required: true
        schema:
          type: string
      - name: history
        in: query
        description: how many minutes in past to look for upgrade notifications
        required: true
        schema:
          type: number
          format: double
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationListResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: null
      x-ms-examples:
        RedisCacheListUpgradeNotifications:
          $ref: ../examples/microsoft-azure-cache-for-redis-redis-cache-list-upgrade-notifications-example.json
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/redis/{cacheName}/privateLinkResources
  : get:
      operationId: PrivateLinkResources_ListByRedisCache
      tags:
      - RedisResources
      description: Gets the private link resources that need to be created for a redis cache.
      parameters:
      - $ref: null
      - $ref: null
      - $ref: null
      - name: cacheName
        in: path
        description: The name of the Redis cache.
        required: true
        schema:
          type: string
          pattern: ^([a-zA-Z0-9][a-zA-Z0-9-]*[a-zA-Z0-9]|[a-zA-Z0-9])$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateLinkResourceListResult'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: null
      x-ms-examples:
        StorageAccountListPrivateLinkResources:
          $ref: ../examples/microsoft-azure-cache-for-redis-redis-cache-list-private-link-resources-example.json
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/redis/{name}/regenerateKey:
    post:
      operationId: Redis_RegenerateKey
      tags:
      - RedisResources
      description: Regenerate Redis cache's access keys. This operation requires write permission to the cache resource.
      parameters:
      - $ref: null
      - $ref: null
      - $ref: null
      - name: name
        in: path
        description: The name of the RedisResource
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RedisAccessKeys'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: null
      x-ms-examples:
        RedisCacheRegenerateKey:
          $ref: ../examples/microsoft-azure-cache-for-redis-redis-cache-regenerate-key-example.json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RedisRegenerateKeyParameters'
        description: Specifies which key to regenerate.
        required: true
components:
  schemas:
    RedisCommonPropertiesRedisConfiguration:
      type: object
      description: 'All Redis Settings. Few possible keys: rdb-backup-enabled,rdb-storage-connection-string,rdb-backup-frequency,maxmemory-delta,
        maxmemory-policy,notify-keyspace-events, aof-backup-enabled, aof-storage-connection-string-0, aof-storage-connection-string-1
        etc.'
      properties:
        rdb-backup-enabled:
          type: string
          description: Specifies whether the RDB backup is enabled
          x-ms-client-name: rdbBackupEnabled
        rdb-backup-frequency:
          type: string
          description: 'Specifies the frequency for creating rdb backup in minutes. Valid values: (15, 30, 60, 360, 720, 1440)'
          x-ms-client-name: rdbBackupFrequency
        rdb-backup-max-snapshot-count:
          type: string
          description: Specifies the maximum number of snapshots for rdb backup
          x-ms-client-name: rdbBackupMaxSnapshotCount
        rdb-storage-connection-string:
          type: string
          description: The storage account connection string for storing rdb file
          x-ms-client-name: rdbStorageConnectionString
        aof-backup-enabled:
          type: string
          description: Specifies whether the aof backup is enabled
          x-ms-client-name: aofBackupEnabled
        aof-storage-connection-string-0:
          type: string
          description: First storage account connection string
          x-ms-client-name: aofStorageConnectionString0
        aof-storage-connection-string-1:
          type: string
          description: Second storage account connection string
          x-ms-client-name: aofStorageConnectionString1
        maxfragmentationmemory-reserved:
          type: string
          description: Value in megabytes reserved for fragmentation per shard
          x-ms-client-name: maxfragmentationmemoryReserved
        maxmemory-policy:
          type: string
          description: The eviction strategy used when your data won't fit within its memory limit.
          x-ms-client-name: maxmemoryPolicy
        maxmemory-reserved:
          type: string
          description: Value in megabytes reserved for non-cache usage per shard e.g. failover.
          x-ms-client-name: maxmemoryReserved
        maxmemory-delta:
          type: string
          description: Value in megabytes reserved for non-cache usage per shard e.g. failover.
          x-ms-client-name: maxmemoryDelta
        maxclients:
          type: string
          description: The max clients config
          readOnly: true
        notify-keyspace-events:
          type: string
          description: The keyspace events which should be monitored.
          x-ms-client-name: notifyKeyspaceEvents
        preferred-data-archive-auth-method:
          type: string
          description: Preferred auth method to communicate to storage account used for data archive, specify SAS or ManagedIdentity,
            default value is SAS
          readOnly: true
          x-ms-client-name: preferredDataArchiveAuthMethod
        preferred-data-persistence-auth-method:
          type: string
          description: Preferred auth method to communicate to storage account used for data persistence, specify SAS or ManagedIdentity,
            default value is SAS
          x-ms-client-name: preferredDataPersistenceAuthMethod
        zonal-configuration:
          type: string
          description: Zonal Configuration
          readOnly: true
          x-ms-client-name: zonalConfiguration
        authnotrequired:
          type: string
          description: Specifies whether the authentication is disabled. Setting this property is highly discouraged from
            security point of view; you should never disable authentication using this property!
        storage-subscription-id:
          type: string
          description: SubscriptionId of the storage account for persistence (aof/rdb) using ManagedIdentity.
          x-ms-client-name: storageSubscriptionId
        aad-enabled:
          type: string
          description: Specifies whether AAD based authentication has been enabled or disabled for the cache
          x-ms-client-name: aadEnabled
      additionalProperties: {}
    ExportRDBParameters:
      type: object
      description: Parameters for Redis export operation.
      properties:
        format:
          type: string
          description: File format.
        prefix:
          type: string
          description: Prefix to use for exported files.
        container:
          type: string
          description: Container name to export to.
        preferred-data-archive-auth-method:
          type: string
          description: Preferred auth method to communicate to storage account used for data archive, specify SAS or ManagedIdentity,
            default value is SAS
        storage-subscription-id:
          type: string
          description: Subscription id of the storage container for data to be exported using ManagedIdentity.
      required:
      - prefix
      - container
    ProvisioningState:
      type: string
      description: Redis instance provisioning status.
      enum:
      - Creating
      - Deleting
      - Disabled
      - Failed
      - Linking
      - Provisioning
      - RecoveringScaleFailure
      - Scaling
      - Succeeded
      - Unlinking
      - Unprovisioning
      - Updating
      - ConfiguringAAD
      x-ms-enum:
        name: ProvisioningState
        modelAsString: true
        values:
        - name: Creating
          value: Creating
          description: A create operation is in progress.
        - name: Deleting
          value: Deleting
          description: A delete operation is in progress.
        - name: Disabled
          value: Disabled
          description: The cache is disabled and cannot be used.
        - name: Failed
          value: Failed
          description: An operation such as create or update failed. If you failed to create the cache it will not be in a
            usable state, so you should delete and recreate it.
        - name: Linking
          value: Linking
          description: Georeplication link is in progress
        - name: Provisioning
          value: Provisioning
          description: An operation is in progress
        - name: RecoveringScaleFailure
          value: RecoveringScaleFailure
          description: A scaling operation encountered an error and recovery is in progress.
        - name: Scaling
          value: Scaling
          description: A scaling operation is in progress
        - name: Succeeded
          value: Succeeded
          description: The most recent operation successfully completed
        - name: Unlinking
          value: Unlinking
          description: Georeplication unlink is in progress
        - name: Unprovisioning
          value: Unprovisioning
          description: The cache may be being disabled
        - name: Updating
          value: Updating
          description: An update operation is in progress.
        - name: ConfiguringAAD
          value: ConfiguringAAD
          description: An AAD configuration update operation is in progress.
    RedisKeyType:
      type: string
      description: The Redis access key to regenerate.
      enum:
      - Primary
      - Secondary
      x-ms-enum:
        name: RedisKeyType
        modelAsString: false
        values:
        - name: Primary
          value: Primary
          description: The primary access key
        - name: Secondary
          value: Secondary
          description: The secondary access key
    TlsVersion:
      type: string
      description: 'Optional: requires clients to use a specified TLS version (or higher) to connect (e,g, ''1.0'', ''1.1'',
        ''1.2'')'
      enum:
      - '1.0'
      - '1.1'
      - '1.2'
      x-ms-enum:
        name: TlsVersion
        modelAsString: true
        values:
        - name: '1.0'
          value: '1.0'
          description: TLS protocol version 1.0 -- deprecated for security reasons. Do not use this value for new caches.
        - name: '1.1'
          value: '1.1'
          description: TLS protocol version 1.1 -- deprecated for security reasons. Do not use this value for new caches.
        - name: '1.2'
          value: '1.2'
          description: TLS protocol version 1.2 -- use this value, or higher, for new caches. Or do not specify, so that your
            cache uses the recommended default value
    UpgradeNotification:
      type: object
      description: Properties of upgrade notification.
      properties:
        name:
          type: string
          description: Name of upgrade notification.
          readOnly: true
        timestamp:
          type: string
          format: date-time
          description: Timestamp when upgrade notification occurred.
          readOnly: true
        upsellNotification:
          type: object
          description: Details about this upgrade notification
          additionalProperties:
            type: string
          readOnly: true
    RedisCreateProperties:
      type: object
      description: Properties supplied to Create Redis operation.
      properties:
        sku:
          $ref: '#/components/schemas/Sku'
          description: The SKU of the Redis cache to deploy.
        subnetId:
          type: string
          description: 'The full resource ID of a subnet in a virtual network to deploy the Redis cache in. Example format:
            /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/Microsoft.{Network|ClassicNetwork}/VirtualNetworks/vnet1/subnets/subnet1'
          pattern: ^/subscriptions/[^/]*/resourceGroups/[^/]*/providers/Microsoft.(ClassicNetwork|Network)/virtualNetworks/[^/]*/subnets/[^/]*$
        staticIP:
          type: string
          description: Static IP address. Optionally, may be specified when deploying a Redis cache inside an existing Azure
            Virtual Network; auto assigned by default.
          pattern: ^\d+\.\d+\.\d+\.\d+$
          x-ms-mutability:
          - read
          - create
      required:
      - sku
      allOf:
      - $ref: '#/components/schemas/RedisCommonProperties'
      x-ms-external: true
    UpdateChannel:
      type: string
      description: 'Optional: Specifies the update channel for the monthly Redis updates your Redis Cache will receive. Caches
        using ''Preview'' update channel get latest Redis updates at least 4 weeks ahead of ''Stable'' channel caches. Default
        value is ''Stable''.'
      enum:
      - Stable
      - Preview
      x-ms-enum:
        name: UpdateChannel
        modelAsString: true
        values:
        - name: Stable
          value: Stable
          description: Stable channel receives updates, which may include important security and stability updates, later
            than Preview channel.
        - name: Preview
          value: Preview
          description: Preview channel normally receives updates before Stable channel, and is the recommended channel for
            non-production workloads.
    PrivateLinkResourceListResult:
      type: object
      description: The response of a PrivateLinkResource list operation.
      properties:
        value:
          type: array
          description: The PrivateLinkResource items on this page
          items:
            $ref: null
        nextLink:
          type: string
          format: uri
          description: The link to the next page of items
      required:
      - value
    RedisUpdateProperties:
      type: object
      description: Patchable properties of the redis cache.
      properties:
        sku:
          $ref: '#/components/schemas/Sku'
          description: The SKU of the Redis cache to deploy.
      allOf:
      - $ref: '#/components/schemas/RedisCommonProperties'
      x-ms-external: true
    RedisUpdateParameters:
      type: object
      description: Parameters supplied to the Update Redis operation.
      properties:
        properties:
          $ref: '#/components/schemas/RedisUpdateProperties'
          description: Redis cache properties.
          x-ms-client-flatten: true
        tags:
          type: object
          description: Resource tags.
          additionalProperties:
            type: string
        identity:
          $ref: null
          description: The identity of the resource.
    RedisCommonProperties:
      type: object
      description: Create/Update/Get common properties of the redis cache.
      properties:
        redisConfiguration:
          $ref: '#/components/schemas/RedisCommonPropertiesRedisConfiguration'
          description: 'All Redis Settings. Few possible keys: rdb-backup-enabled,rdb-storage-connection-string,rdb-backup-frequency,maxmemory-delta,
            maxmemory-policy,notify-keyspace-events, aof-backup-enabled, aof-storage-connection-string-0, aof-storage-connection-string-1
            etc.'
        redisVersion:
          type: string
          description: 'Redis version. This should be in the form ''major[.minor]'' (only ''major'' is required) or the value
            ''latest'' which refers to the latest stable Redis version that is available. Supported versions: 4.0, 6.0 (latest).
            Default value is ''latest''.'
        enableNonSslPort:
          type: boolean
          description: Specifies whether the non-ssl Redis server port (6379) is enabled.
          default: false
        replicasPerMaster:
          type: integer
          format: int32
          description: The number of replicas to be created per primary.
        replicasPerPrimary:
          type: integer
          format: int32
          description: The number of replicas to be created per primary.
        tenantSettings:
          type: object
          description: A dictionary of tenant settings
          additionalProperties:
            type: string
        shardCount:
          type: integer
          format: int32
          description: The number of shards to be created on a Premium Cluster Cache.
        minimumTlsVersion:
          $ref: '#/components/schemas/TlsVersion'
          description: 'Optional: requires clients to use a specified TLS version (or higher) to connect (e,g, ''1.0'', ''1.1'',
            ''1.2'')'
        publicNetworkAccess:
          $ref: '#/components/schemas/PublicNetworkAccess'
          description: Whether or not public endpoint access is allowed for this cache.  Value is optional but if passed in,
            must be 'Enabled' or 'Disabled'. If 'Disabled', private endpoints are the exclusive access method.
        updateChannel:
          $ref: '#/components/schemas/UpdateChannel'
          description: 'Optional: Specifies the update channel for the monthly Redis updates your Redis Cache will receive.
            Caches using ''Preview'' update channel get latest Redis updates at least 4 weeks ahead of ''Stable'' channel
            caches. Default value is ''Stable''.'
        disableAccessKeyAuthentication:
          type: boolean
          description: Authentication to Redis through access keys is disabled when set as true. Default value is false.
          default: false
        zonalAllocationPolicy:
          $ref: '#/components/schemas/ZonalAllocationPolicy'
          description: 'Optional: Specifies how availability zones are allocated to the Redis cache. ''Automatic'' enables
            zone redundancy and Azure will automatically select zones based on regional availability and capacity. ''UserDefined''
            will select availability zones passed in by you using the ''zones'' parameter. ''NoZones'' will produce a non-zonal
            cache. If ''zonalAllocationPolicy'' is not passed, it will be set to ''UserDefined'' when zones are passed in,
            otherwise, it will be set to ''Automatic'' in regions where zones are supported and ''NoZones'' in regions where
            zones are not supported.'
      x-ms-external: true
    RebootType:
      type: string
      description: Which Redis node(s) to reboot. Depending on this value data loss is possible.
      enum:
      - PrimaryNode
      - SecondaryNode
      - AllNodes
      x-ms-enum:
        name: RebootType
        modelAsString: true
        values:
        - name: PrimaryNode
          value: PrimaryNode
          description: Reboot the primary nodes used for redis write operations. (This may trigger role changes.)
        - name: SecondaryNode
          value: SecondaryNode
          description: Reboot only the secondary or replica nodes
        - name: AllNodes
          value: AllNodes
          description: Reboot all nodes, not guaranteed to happen simultaneously.
    RedisAccessKeys:
      type: object
      description: Redis cache access keys.
      properties:
        primaryKey:
          type: string
          description: The current primary key that clients can use to authenticate with Redis cache.
          readOnly: true
        secondaryKey:
          type: string
          description: The current secondary key that clients can use to authenticate with Redis cache.
          readOnly: true
    PublicNetworkAccess:
      type: string
      description: Whether or not public endpoint access is allowed for this cache.  Value is optional but if passed in, must
        be 'Enabled' or 'Disabled'. If 'Disabled', private endpoints are the exclusive access method. Default value is 'Enabled'
      enum:
      - Enabled
      - Disabled
      x-ms-enum:
        name: PublicNetworkAccess
        modelAsString: true
        values:
        - name: Enabled
          value: Enabled
          description: Public internet access to the cache, via its public IP address, is enabled. Connections may use any
            network path.
        - name: Disabled
          value: Disabled
          description: Public internet access to the cache, via its public IP address, is disabled. Connections must use be
            made via private endpoints.
    Sku:
      type: object
      description: SKU parameters supplied to the create Redis operation.
      properties:
        name:
          $ref: '#/components/schemas/SkuName'
          description: 'The type of Redis cache to deploy. Valid values: (Basic, Standard, Premium)'
        family:
          $ref: '#/components/schemas/SkuFamily'
          description: 'The SKU family to use. Valid values: (C, P). (C = Basic/Standard, P = Premium).'
        capacity:
          type: integer
          format: int32
          description: 'The size of the Redis cache to deploy. Valid values: for C (Basic/Standard) family (0, 1, 2, 3, 4,
            5, 6), for P (Premium) family (1, 2, 3, 4).'
      required:
      - name
      - family
      - capacity
    RedisRebootParameters:
      type: object
      description: Specifies which Redis node(s) to reboot.
      properties:
        rebootType:
          $ref: '#/components/schemas/RebootType'
          description: Which Redis node(s) to reboot. Depending on this value data loss is possible.
        shardId:
          type: integer
          format: int32
          description: If clustering is enabled, the ID of the shard to be rebooted.
        ports:
          type: array
          description: A list of redis instances to reboot, specified by per-instance SSL ports or non-SSL ports.
          items:
            type: integer
            format: int32
    SkuFamily:
      type: string
      description: 'The SKU family to use. Valid values: (C, P). (C = Basic/Standard, P = Premium).'
      enum:
      - C
      - P
      x-ms-enum:
        name: SkuFamily
        modelAsString: true
        values:
        - name: C
          value: C
          description: The SKU family to use - must be 'C' for Basic/Standard SKU redis caches.
        - name: P
          value: P
          description: The SKU family to use - must be 'P' for Premium SKU redis caches.
    RedisCreateParameters:
      type: object
      description: Parameters supplied to the Create Redis operation.
      properties:
        properties:
          $ref: '#/components/schemas/RedisCreateProperties'
          description: Redis cache properties.
          x-ms-client-flatten: true
        zones:
          type: array
          description: A list of availability zones denoting where the resource needs to come from.
          items:
            type: string
        location:
          type: string
          description: The geo-location where the resource lives
          x-ms-mutability:
          - read
          - create
        tags:
          type: object
          description: Resource tags.
          additionalProperties:
            type: string
        identity:
          $ref: null
          description: The identity of the resource.
      required:
      - properties
      - location
    SkuName:
      type: string
      description: 'The type of Redis cache to deploy. Valid values: (Basic, Standard, Premium)'
      enum:
      - Basic
      - Standard
      - Premium
      x-ms-enum:
        name: SkuName
        modelAsString: true
        values:
        - name: Basic
          value: Basic
          description: The well known 'Basic' SKU for Azure Cache for Redis. Basic SKU does not have an availability SLA.
        - name: Standard
          value: Standard
          description: The well known 'Standard' SKU for Azure Cache for Redis. Standard SKU has an availability SLA.
        - name: Premium
          value: Premium
          description: The well known 'Premium' SKU for Azure Cache for Redis. Premium SKU has an availability SLA, and higher
            performance tiers and more features compared with Standard SKU.
    RedisProperties:
      type: object
      description: Properties of the redis cache.
      properties:
        provisioningState:
          $ref: '#/components/schemas/ProvisioningState'
          description: Redis instance provisioning status.
          readOnly: true
        hostName:
          type: string
          description: Redis host name.
          readOnly: true
        port:
          type: integer
          format: int32
          description: Redis non-SSL port.
          readOnly: true
        sslPort:
          type: integer
          format: int32
          description: Redis SSL port.
          readOnly: true
        accessKeys:
          $ref: '#/components/schemas/RedisAccessKeys'
          description: The keys of the Redis cache - not set if this object is not the response to Create or Update redis
            cache
          readOnly: true
        linkedServers:
          type: array
          description: List of the linked servers associated with the cache
          items:
            $ref: '#/components/schemas/RedisLinkedServer'
          readOnly: true
        instances:
          type: array
          description: List of the Redis instances associated with the cache
          items:
            $ref: '#/components/schemas/RedisInstanceDetails'
          readOnly: true
          x-ms-identifiers:
          - shardId
        privateEndpointConnections:
          type: array
          description: List of private endpoint connection associated with the specified redis cache
          items:
            $ref: null
          readOnly: true
      allOf:
      - $ref: '#/components/schemas/RedisCreateProperties'
      x-ms-external: true
    RedisResource:
      type: object
      description: A single Redis item in List or Get Operation.
      properties:
        properties:
          $ref: '#/components/schemas/RedisProperties'
          description: Redis cache properties.
          x-ms-client-flatten: true
        zones:
          type: array
          description: The availability zones.
          items:
            type: string
        identity:
          $ref: null
          description: The managed service identities assigned to this resource.
      required:
      - properties
      allOf:
      - $ref: null
    ImportRDBParameters:
      type: object
      description: Parameters for Redis import operation.
      properties:
        format:
          type: string
          description: File format.
        files:
          type: array
          description: files to import.
          items:
            type: string
        preferred-data-archive-auth-method:
          type: string
          description: Preferred auth method to communicate to storage account used for data archive, specify SAS or ManagedIdentity,
            default value is SAS
        storage-subscription-id:
          type: string
          description: Subscription id of the storage container containing files to import using Managed Identity.
      required:
      - files
    NotificationListResponse:
      type: object
      description: The response of listUpgradeNotifications.
      properties:
        value:
          type: array
          description: The UpgradeNotification items on this page
          items:
            $ref: '#/components/schemas/UpgradeNotification'
          x-ms-identifiers:
          - name
          - timestamp
        nextLink:
          type: string
          format: uri
          description: The link to the next page of items
      required:
      - value
    RedisLinkedServer:
      type: object
      description: Linked server Id
      properties:
        id:
          type: string
          description: Linked server Id.
          readOnly: true
    ZonalAllocationPolicy:
      type: string
      description: 'Optional: Specifies how availability zones are allocated to the Redis cache. ''Automatic'' enables zone
        redundancy and Azure will automatically select zones based on regional availability and capacity. ''UserDefined''
        will select availability zones passed in by you using the ''zones'' parameter. ''NoZones'' will produce a non-zonal
        cache. If ''zonalAllocationPolicy'' is not passed, it will be set to ''UserDefined'' when zones are passed in, otherwise,
        it will be set to ''Automatic'' in regions where zones are supported and ''NoZones'' in regions where zones are not
        supported.'
      enum:
      - Automatic
      - UserDefined
      - NoZones
      x-ms-enum:
        name: ZonalAllocationPolicy
        modelAsString: true
        values:
        - name: Automatic
          value: Automatic
          description: The zones for the cache will be selected automatically based on availability and capacity.
        - name: UserDefined
          value: UserDefined
          description: UserDefined means the zones for the cache are manually configured using the 'zones' property, and can
            not be automatically selected.
        - name: NoZones
          value: NoZones
          description: The cache will not use multiple availability zones.
    RedisForceRebootResponse:
      type: object
      description: Response to force reboot for Redis cache.
      properties:
        message:
          type: string
          description: Status message
          readOnly: true
    RedisListResult:
      type: object
      description: The response of list Redis operation.
      properties:
        value:
          type: array
          description: The RedisResource items on this page
          items:
            $ref: '#/components/schemas/RedisResource'
        nextLink:
          type: string
          format: uri
          description: The link to the next page of items
      required:
      - value
    RedisRegenerateKeyParameters:
      type: object
      description: Specifies which Redis access keys to reset.
      properties:
        keyType:
          $ref: '#/components/schemas/RedisKeyType'
          description: The Redis access key to regenerate.
      required:
      - keyType
    RedisInstanceDetails:
      type: object
      description: Details of single instance of redis.
      properties:
        sslPort:
          type: integer
          format: int32
          description: Redis instance SSL port.
          readOnly: true
        nonSslPort:
          type: integer
          format: int32
          description: If enableNonSslPort is true, provides Redis instance Non-SSL port.
          readOnly: true
        zone:
          type: string
          description: If the Cache uses availability zones, specifies availability zone where this instance is located.
          readOnly: true
        shardId:
          type: integer
          format: int32
          description: If clustering is enabled, the Shard ID of Redis Instance
          readOnly: true
        isMaster:
          type: boolean
          description: Specifies whether the instance is a primary node.
          readOnly: true
        isPrimary:
          type: boolean
          description: Specifies whether the instance is a primary node.
          readOnly: true
    ErrorResponse:
      type: object
      title: Error response
      description: Common error response for all Azure Resource Manager APIs to return error details for failed operations.
        (This also follows the OData error response format.).
      properties:
        error:
          $ref: '#/components/schemas/ErrorDetail'
          description: The error object.
    ErrorDetail:
      type: object
      description: The error detail.
      properties:
        code:
          type: string
          description: The error code.
          readOnly: true
        message:
          type: string
          description: The error message.
          readOnly: true
        target:
          type: string
          description: The error target.
          readOnly: true
        details:
          type: array
          description: The error details.
          items:
            $ref: '#/components/schemas/ErrorDetail'
          readOnly: true
          x-ms-identifiers:
          - message
          - target
        additionalInfo:
          type: array
          description: The error additional info.
          items:
            $ref: '#/components/schemas/ErrorAdditionalInfo'
          readOnly: true
          x-ms-identifiers: []
    ErrorAdditionalInfo:
      type: object
      description: The resource management error additional info.
      properties:
        type:
          type: string
          description: The additional info type.
          readOnly: true
        info:
          type: object
          description: The additional info.
          readOnly: true
    OperationStatusResult:
      type: object
      description: The current status of an async operation.
      properties:
        id:
          type: string
          description: Fully qualified ID for the async operation.
        name:
          type: string
          description: Name of the async operation.
        status:
          type: string
          description: Operation status.
        percentComplete:
          type: number
          description: Percent of the operation that is complete.
          minimum: 0
          maximum: 100
        startTime:
          type: string
          format: date-time
          description: The start time of the operation.
        endTime:
          type: string
          format: date-time
          description: The end time of the operation.
        operations:
          type: array
          description: The operations list.
          items:
            $ref: '#/components/schemas/OperationStatusResult'
        error:
          $ref: '#/components/schemas/ErrorDetail'
          description: If present, details of the operation error.
      required:
      - status
    TrackedResource:
      type: object
      title: Tracked Resource
      description: The resource model definition for an Azure Resource Manager tracked top level resource which has 'tags'
        and a 'location'
      properties:
        tags:
          type: object
          description: Resource tags.
          additionalProperties:
            type: string
          x-ms-mutability:
          - read
          - create
          - update
        location:
          type: string
          description: The geo-location where the resource lives
          x-ms-mutability:
          - read
          - create
      required:
      - location
      allOf:
      - $ref: '#/components/schemas/Resource'
    Resource:
      type: object
      title: Resource
      description: Common fields that are returned in the response for all Azure Resource Manager resources
      properties:
        id:
          type: string
          format: arm-id
          description: Fully qualified resource ID for the resource. E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          readOnly: true
        name:
          type: string
          description: The name of the resource
          readOnly: true
        type:
          type: string
          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines" or "Microsoft.Storage/storageAccounts"
          readOnly: true
        systemData:
          $ref: '#/components/schemas/systemData'
          type: object
          description: Azure Resource Manager metadata containing createdBy and modifiedBy information.
          readOnly: true
      x-ms-azure-resource: true
    systemData:
      type: object
      description: Metadata pertaining to creation and last modification of the resource.
      properties:
        createdBy:
          type: string
          description: The identity that created the resource.
        createdByType:
          type: string
          description: The type of identity that created the resource.
          enum:
          - User
          - Application
          - ManagedIdentity
          - Key
          x-ms-enum:
            name: createdByType
            modelAsString: true
        createdAt:
          type: string
          format: date-time
          description: The timestamp of resource creation (UTC).
        lastModifiedBy:
          type: string
          description: The identity that last modified the resource.
        lastModifiedByType:
          type: string
          description: The type of identity that last modified the resource.
          enum:
          - User
          - Application
          - ManagedIdentity
          - Key
          x-ms-enum:
            name: createdByType
            modelAsString: true
        lastModifiedAt:
          type: string
          format: date-time
          description: The timestamp of resource last modification (UTC)
      readOnly: true
    PrivateLinkResource:
      type: object
      description: A private link resource.
      properties:
        properties:
          $ref: '#/components/schemas/PrivateLinkResourceProperties'
          description: Resource properties.
          x-ms-client-flatten: true
      allOf:
      - $ref: '#/components/schemas/Resource'
    PrivateLinkResourceProperties:
      type: object
      description: Properties of a private link resource.
      properties:
        groupId:
          type: string
          description: The private link resource group id.
          readOnly: true
        requiredMembers:
          type: array
          description: The private link resource required member names.
          items:
            type: string
          readOnly: true
        requiredZoneNames:
          type: array
          description: The private link resource private link DNS zone name.
          items:
            type: string
    ManagedServiceIdentity:
      type: object
      description: Managed service identity (system assigned and/or user assigned identities)
      properties:
        principalId:
          type: string
          format: uuid
          description: The service principal ID of the system assigned identity. This property will only be provided for a
            system assigned identity.
          readOnly: true
        tenantId:
          type: string
          format: uuid
          description: The tenant ID of the system assigned identity. This property will only be provided for a system assigned
            identity.
          readOnly: true
        type:
          $ref: '#/components/schemas/ManagedServiceIdentityType'
        userAssignedIdentities:
          $ref: '#/components/schemas/UserAssignedIdentities'
      required:
      - type
    ManagedServiceIdentityType:
      type: string
      description: Type of managed service identity (where both SystemAssigned and UserAssigned types are allowed).
      enum:
      - None
      - SystemAssigned
      - UserAssigned
      - SystemAssigned, UserAssigned
      x-ms-enum:
        name: ManagedServiceIdentityType
        modelAsString: true
    UserAssignedIdentities:
      type: object
      title: User-Assigned Identities
      description: 'The set of user assigned identities associated with the resource. The userAssignedIdentities dictionary
        keys will be ARM resource ids in the form: ''/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}.
        The dictionary values can be empty objects ({}) in requests.'
      additionalProperties:
        $ref: '#/components/schemas/UserAssignedIdentity'
    UserAssignedIdentity:
      type: object
      description: User assigned identity properties
      properties:
        principalId:
          type: string
          format: uuid
          description: The principal ID of the assigned identity.
          readOnly: true
        clientId:
          type: string
          format: uuid
          description: The client ID of the assigned identity.
          readOnly: true
    PrivateEndpointConnection:
      type: object
      description: The private endpoint connection resource.
      properties:
        properties:
          $ref: '#/components/schemas/PrivateEndpointConnectionProperties'
          description: Resource properties.
          x-ms-client-flatten: true
      allOf:
      - $ref: '#/components/schemas/Resource'
    PrivateEndpointConnectionProperties:
      type: object
      description: Properties of the private endpoint connection.
      properties:
        groupIds:
          type: array
          description: The group ids for the private endpoint resource.
          items:
            type: string
          readOnly: true
        privateEndpoint:
          $ref: '#/components/schemas/PrivateEndpoint'
          description: The private endpoint resource.
        privateLinkServiceConnectionState:
          $ref: '#/components/schemas/PrivateLinkServiceConnectionState'
          description: A collection of information about the state of the connection between service consumer and provider.
        provisioningState:
          $ref: '#/components/schemas/PrivateEndpointConnectionProvisioningState'
          description: The provisioning state of the private endpoint connection resource.
      required:
      - privateLinkServiceConnectionState
    PrivateEndpoint:
      type: object
      description: The private endpoint resource.
      properties:
        id:
          type: string
          description: The ARM identifier for private endpoint.
          readOnly: true
    PrivateLinkServiceConnectionState:
      type: object
      description: A collection of information about the state of the connection between service consumer and provider.
      properties:
        status:
          $ref: '#/components/schemas/PrivateEndpointServiceConnectionStatus'
          description: Indicates whether the connection has been Approved/Rejected/Removed by the owner of the service.
        description:
          type: string
          description: The reason for approval/rejection of the connection.
        actionsRequired:
          type: string
          description: A message indicating if changes on the service provider require any updates on the consumer.
    PrivateEndpointServiceConnectionStatus:
      type: string
      description: The private endpoint connection status.
      enum:
      - Pending
      - Approved
      - Rejected
      x-ms-enum:
        name: PrivateEndpointServiceConnectionStatus
        modelAsString: true
    PrivateEndpointConnectionProvisioningState:
      type: string
      description: The current provisioning state.
      enum:
      - Succeeded
      - Creating
      - Deleting
      - Failed
      x-ms-enum:
        name: PrivateEndpointConnectionProvisioningState
        modelAsString: true
      readOnly: true
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
  parameters:
    ApiVersionParameter:
      name: api-version
      in: query
      description: The API version to use for this operation.
      required: true
      schema:
        type: string
        minLength: 1
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: The ID of the target subscription. The value must be an UUID.
      required: true
      schema:
        type: string
        format: uuid
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      description: The name of the resource group. The name is case insensitive.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 90
