openapi: 3.2.0
info:
  title: RedisManagementClient Subscriptions API
  version: '2024-11-01'
  description: REST API for Azure Redis Cache Service.
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Subscriptions
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Cache/checkNameAvailability:
    post:
      operationId: Redis_CheckNameAvailability
      description: Checks that the redis cache name is valid and is not already in use.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: The request has succeeded.
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse
      x-ms-examples:
        RedisCacheCheckNameAvailability:
          $ref: ./examples/RedisCacheCheckNameAvailability.json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckNameAvailabilityParameters'
        description: The request body
        required: true
      tags:
      - Subscriptions
      summary: Redis check name availability
      x-summary-source: derived
  /subscriptions/{subscriptionId}/providers/Microsoft.Cache/locations/{location}/asyncOperations/{operationId}:
    get:
      operationId: AsyncOperationStatus_Get
      description: For checking the ongoing status of an operation
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter
      - name: location
        in: path
        description: The location at which operation was triggered
        required: true
        schema:
          type: string
      - name: operationId
        in: path
        description: The ID of asynchronous operation
        required: true
        schema:
          type: string
      - $ref: ../../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationStatus'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse
      x-ms-examples:
        RedisCacheAsyncOperationStatus:
          $ref: ./examples/RedisCacheAsyncOperationStatus.json
      tags:
      - Subscriptions
      summary: Async operation status get
      x-summary-source: derived
components:
  schemas:
    OperationStatus:
      type: object
      description: Asynchronous operation status
      properties:
        properties:
          type: object
          description: Additional properties from RP, only when operation is successful
          additionalProperties: {}
      allOf:
      - $ref: ../../../../../../common-types/resource-management/v4/types.json#/definitions/OperationStatusResult
    CheckNameAvailabilityParameters:
      type: object
      description: Parameters body to pass for resource name availability check.
      properties:
        name:
          type: string
          description: Resource name.
        type:
          type: string
          description: Resource type. The only legal value of this property for checking redis cache name availability is 'Microsoft.Cache/redis'.
      required:
      - name
      - type
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
