openapi: 3.2.0
info:
  title: RedisManagementClient Operations API
  version: '2024-11-01'
  description: REST API for Azure Redis Cache Service.
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Operations
paths:
  /providers/Microsoft.Cache/operations:
    get:
      operationId: Operations_List
      tags:
      - Operations
      description: List the operations for the provider
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationListResult'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse
      x-ms-examples:
        RedisCacheOperations:
          $ref: ./examples/RedisCacheOperations.json
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Operations list
      x-summary-source: derived
components:
  schemas:
    Operation:
      type: object
      description: REST API operation
      properties:
        name:
          type: string
          description: 'Operation name: {provider}/{resource}/{operation}'
        display:
          $ref: '#/components/schemas/OperationDisplay'
          description: The object that describes the operation.
    OperationDisplay:
      type: object
      description: The object that describes the operation.
      properties:
        provider:
          type: string
          description: Friendly name of the resource provider
        operation:
          type: string
          description: 'Operation type: read, write, delete, listKeys/action, etc.'
        resource:
          type: string
          description: Resource type on which the operation is performed.
        description:
          type: string
          description: Friendly name of the operation
    OperationListResult:
      type: object
      description: Result of the request to list REST API operations. It contains a list of operations and a URL nextLink to get the next set of results.
      properties:
        value:
          type: array
          description: List of operations supported by the resource provider.
          items:
            $ref: '#/components/schemas/Operation'
          x-ms-identifiers:
          - name
        nextLink:
          type: string
          description: URL to get the next set of operation list results if there are any.
      required:
      - value
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
