openapi: 3.2.0
info:
  title: RedisManagementClient Redis Cache Access Policy Assignments API
  version: '2024-11-01'
  description: REST API for Azure Redis Cache Service.
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: RedisCacheAccessPolicyAssignments
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/redis/{cacheName}/accessPolicyAssignments
  : get:
      operationId: AccessPolicyAssignment_List
      tags:
      - RedisCacheAccessPolicyAssignments
      description: Gets the list of access policy assignments associated with this redis cache
      parameters:
      - $ref: null
      - $ref: null
      - $ref: null
      - name: cacheName
        in: path
        description: The name of the Redis cache.
        required: true
        schema:
          type: string
          pattern: ^([a-zA-Z0-9][a-zA-Z0-9-]*[a-zA-Z0-9]|[a-zA-Z0-9])$
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RedisCacheAccessPolicyAssignmentList'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: null
      x-ms-examples:
        RedisCacheAccessPolicyAssignmentList:
          $ref: ../examples/microsoft-azure-cache-for-redis-redis-cache-access-policy-assignment-list-example.json
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/redis/{cacheName}/accessPolicyAssignments/{accessPolicyAssignmentName}
  : get:
      operationId: AccessPolicyAssignment_Get
      tags:
      - RedisCacheAccessPolicyAssignments
      description: Gets the list of assignments for an access policy of a redis cache
      parameters:
      - $ref: null
      - $ref: null
      - $ref: null
      - name: cacheName
        in: path
        description: The name of the Redis cache.
        required: true
        schema:
          type: string
          pattern: ^([a-zA-Z0-9][a-zA-Z0-9-]*[a-zA-Z0-9]|[a-zA-Z0-9])$
      - name: accessPolicyAssignmentName
        in: path
        description: The name of the access policy assignment.
        required: true
        schema:
          type: string
          maxLength: 63
          minLength: 3
          pattern: ^([a-zA-Z0-9][a-zA-Z0-9-]*[a-zA-Z0-9]|[a-zA-Z0-9])$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RedisCacheAccessPolicyAssignment'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: null
      x-ms-examples:
        RedisCacheAccessPolicyAssignmentGet:
          $ref: ../examples/microsoft-azure-cache-for-redis-redis-cache-access-policy-assignment-get-example.json
    put:
      operationId: AccessPolicyAssignment_CreateUpdate
      tags:
      - RedisCacheAccessPolicyAssignments
      description: Adds the access policy assignment to the specified users
      parameters:
      - $ref: null
      - $ref: null
      - $ref: null
      - name: cacheName
        in: path
        description: The name of the Redis cache.
        required: true
        schema:
          type: string
          pattern: ^([a-zA-Z0-9][a-zA-Z0-9-]*[a-zA-Z0-9]|[a-zA-Z0-9])$
      - name: accessPolicyAssignmentName
        in: path
        description: The name of the access policy assignment.
        required: true
        schema:
          type: string
          maxLength: 63
          minLength: 3
          pattern: ^([a-zA-Z0-9][a-zA-Z0-9-]*[a-zA-Z0-9]|[a-zA-Z0-9])$
      responses:
        '200':
          description: Resource 'RedisCacheAccessPolicyAssignment' update operation succeeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RedisCacheAccessPolicyAssignment'
        '201':
          description: Resource 'RedisCacheAccessPolicyAssignment' create operation succeeded
          headers:
            Location:
              description: The Location header contains the URL where the status of the long running operation can be checked.
              schema:
                type: string
            Retry-After:
              description: The Retry-After header can indicate how long the client should wait before polling the operation
                status.
              schema:
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RedisCacheAccessPolicyAssignment'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: null
      x-ms-examples:
        RedisCacheAccessPolicyAssignmentCreateUpdate:
          $ref: ../examples/microsoft-azure-cache-for-redis-redis-cache-access-policy-assignment-create-update-example.json
      x-ms-long-running-operation-options:
        final-state-via: location
        final-state-schema: '#/definitions/RedisCacheAccessPolicyAssignment'
      x-ms-long-running-operation: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RedisCacheAccessPolicyAssignment'
        description: Parameters supplied to the Create Update Access Policy Assignment operation.
        required: true
    delete:
      operationId: AccessPolicyAssignment_Delete
      tags:
      - RedisCacheAccessPolicyAssignments
      description: Deletes the access policy assignment from a redis cache
      parameters:
      - $ref: null
      - $ref: null
      - $ref: null
      - name: cacheName
        in: path
        description: The name of the Redis cache.
        required: true
        schema:
          type: string
          pattern: ^([a-zA-Z0-9][a-zA-Z0-9-]*[a-zA-Z0-9]|[a-zA-Z0-9])$
      - name: accessPolicyAssignmentName
        in: path
        description: The name of the access policy assignment.
        required: true
        schema:
          type: string
          maxLength: 63
          minLength: 3
          pattern: ^([a-zA-Z0-9][a-zA-Z0-9-]*[a-zA-Z0-9]|[a-zA-Z0-9])$
      responses:
        '200':
          description: Resource deleted successfully.
        '202':
          description: Resource deletion accepted.
          headers:
            Location:
              description: The Location header contains the URL where the status of the long running operation can be checked.
              schema:
                type: string
            Retry-After:
              description: The Retry-After header can indicate how long the client should wait before polling the operation
                status.
              schema:
                type: integer
                format: int32
        '204':
          description: Resource does not exist.
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: null
      x-ms-examples:
        RedisCacheAccessPolicyAssignmentDelete:
          $ref: ../examples/microsoft-azure-cache-for-redis-redis-cache-access-policy-assignment-delete-example.json
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-long-running-operation: true
components:
  schemas:
    RedisCacheAccessPolicyAssignmentProperties:
      type: object
      description: Properties for an access policy assignment
      properties:
        provisioningState:
          $ref: '#/components/schemas/AccessPolicyAssignmentProvisioningState'
          description: Provisioning state of an access policy assignment set
          readOnly: true
        objectId:
          type: string
          description: Object Id to assign access policy to
        objectIdAlias:
          type: string
          description: User friendly name for object id. Also represents username for token based authentication
        accessPolicyName:
          type: string
          description: The name of the access policy that is being assigned
          pattern: ^([a-zA-Z0-9][a-zA-Z0-9- ]*[a-zA-Z0-9]|[a-zA-Z0-9])$
      required:
      - objectId
      - objectIdAlias
      - accessPolicyName
    AccessPolicyAssignmentProvisioningState:
      type: string
      description: Provisioning state of an access policy assignment set
      enum:
      - Updating
      - Succeeded
      - Deleting
      - Deleted
      - Canceled
      - Failed
      x-ms-enum:
        name: AccessPolicyAssignmentProvisioningState
        modelAsString: true
        values:
        - name: Updating
          value: Updating
          description: The access policy assignments are being updated
        - name: Succeeded
          value: Succeeded
          description: The access policy assignments were successfully updated
        - name: Deleting
          value: Deleting
          description: The access policy assignments are being deleted
        - name: Deleted
          value: Deleted
          description: The access policy assignments are considered deleted, meaning no custom access policies are applied.
        - name: Canceled
          value: Canceled
          description: The operation was canceled. Access policy assignments may be in a partially updated state. Update them
            again to have a well-defined state.
        - name: Failed
          value: Failed
          description: The operation failed. Access policy assignments may be in a partially updated state. Update them again
            to have a well-defined state.
    RedisCacheAccessPolicyAssignment:
      type: object
      description: Response to an operation on access policy assignment
      properties:
        properties:
          $ref: '#/components/schemas/RedisCacheAccessPolicyAssignmentProperties'
          description: Properties of an access policy assignment
          x-ms-client-flatten: true
      allOf:
      - $ref: null
    RedisCacheAccessPolicyAssignmentList:
      type: object
      description: List of access policies assignments (with properties) of a Redis cache.
      properties:
        value:
          type: array
          description: The RedisCacheAccessPolicyAssignment items on this page
          items:
            $ref: '#/components/schemas/RedisCacheAccessPolicyAssignment'
        nextLink:
          type: string
          format: uri
          description: The link to the next page of items
      required:
      - value
    ErrorResponse:
      type: object
      title: Error response
      description: Common error response for all Azure Resource Manager APIs to return error details for failed operations.
        (This also follows the OData error response format.).
      properties:
        error:
          $ref: '#/components/schemas/ErrorDetail'
          description: The error object.
    ErrorDetail:
      type: object
      description: The error detail.
      properties:
        code:
          type: string
          description: The error code.
          readOnly: true
        message:
          type: string
          description: The error message.
          readOnly: true
        target:
          type: string
          description: The error target.
          readOnly: true
        details:
          type: array
          description: The error details.
          items:
            $ref: '#/components/schemas/ErrorDetail'
          readOnly: true
          x-ms-identifiers:
          - message
          - target
        additionalInfo:
          type: array
          description: The error additional info.
          items:
            $ref: '#/components/schemas/ErrorAdditionalInfo'
          readOnly: true
          x-ms-identifiers: []
    ErrorAdditionalInfo:
      type: object
      description: The resource management error additional info.
      properties:
        type:
          type: string
          description: The additional info type.
          readOnly: true
        info:
          type: object
          description: The additional info.
          readOnly: true
    ProxyResource:
      type: object
      title: Proxy Resource
      description: The resource model definition for a Azure Resource Manager proxy resource. It will not have tags and a
        location
      allOf:
      - $ref: '#/components/schemas/Resource'
    Resource:
      type: object
      title: Resource
      description: Common fields that are returned in the response for all Azure Resource Manager resources
      properties:
        id:
          type: string
          format: arm-id
          description: Fully qualified resource ID for the resource. E.g. "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          readOnly: true
        name:
          type: string
          description: The name of the resource
          readOnly: true
        type:
          type: string
          description: The type of the resource. E.g. "Microsoft.Compute/virtualMachines" or "Microsoft.Storage/storageAccounts"
          readOnly: true
        systemData:
          $ref: '#/components/schemas/systemData'
          type: object
          description: Azure Resource Manager metadata containing createdBy and modifiedBy information.
          readOnly: true
      x-ms-azure-resource: true
    systemData:
      type: object
      description: Metadata pertaining to creation and last modification of the resource.
      properties:
        createdBy:
          type: string
          description: The identity that created the resource.
        createdByType:
          type: string
          description: The type of identity that created the resource.
          enum:
          - User
          - Application
          - ManagedIdentity
          - Key
          x-ms-enum:
            name: createdByType
            modelAsString: true
        createdAt:
          type: string
          format: date-time
          description: The timestamp of resource creation (UTC).
        lastModifiedBy:
          type: string
          description: The identity that last modified the resource.
        lastModifiedByType:
          type: string
          description: The type of identity that last modified the resource.
          enum:
          - User
          - Application
          - ManagedIdentity
          - Key
          x-ms-enum:
            name: createdByType
            modelAsString: true
        lastModifiedAt:
          type: string
          format: date-time
          description: The timestamp of resource last modification (UTC)
      readOnly: true
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
  parameters:
    ApiVersionParameter:
      name: api-version
      in: query
      description: The API version to use for this operation.
      required: true
      schema:
        type: string
        minLength: 1
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: The ID of the target subscription. The value must be an UUID.
      required: true
      schema:
        type: string
        format: uuid
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      description: The name of the resource group. The name is case insensitive.
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 90
