openapi: 3.2.0
info:
  title: RedisManagementClient Redis Firewall Rules API
  version: '2024-11-01'
  description: REST API for Azure Redis Cache Service.
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: RedisFirewallRules
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/redis/{cacheName}/firewallRules
  : get:
      operationId: FirewallRules_List
      tags:
      - RedisFirewallRules
      description: Gets all firewall rules in the specified redis cache.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter
      - name: cacheName
        in: path
        description: The name of the Redis cache.
        required: true
        schema:
          type: string
          pattern: ^([a-zA-Z0-9][a-zA-Z0-9-]*[a-zA-Z0-9]|[a-zA-Z0-9])$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RedisFirewallRuleListResult'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse
      x-ms-examples:
        RedisCacheFirewallRulesList:
          $ref: ./examples/RedisCacheFirewallRulesList.json
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Firewall rules list
      x-summary-source: derived
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/redis/{cacheName}/firewallRules/{ruleName}
  : get:
      operationId: FirewallRules_Get
      tags:
      - RedisFirewallRules
      description: Gets a single firewall rule in a specified redis cache.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter
      - name: cacheName
        in: path
        description: The name of the Redis cache.
        required: true
        schema:
          type: string
          pattern: ^([a-zA-Z0-9][a-zA-Z0-9-]*[a-zA-Z0-9]|[a-zA-Z0-9])$
      - name: ruleName
        in: path
        description: The name of the firewall rule.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RedisFirewallRule'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse
      x-ms-examples:
        RedisCacheFirewallRuleGet:
          $ref: ./examples/RedisCacheFirewallRuleGet.json
      summary: Firewall rules get
      x-summary-source: derived
    put:
      operationId: FirewallRules_CreateOrUpdate
      tags:
      - RedisFirewallRules
      description: Create or update a redis cache firewall rule
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter
      - name: cacheName
        in: path
        description: The name of the Redis cache.
        required: true
        schema:
          type: string
          pattern: ^([a-zA-Z0-9][a-zA-Z0-9-]*[a-zA-Z0-9]|[a-zA-Z0-9])$
      - name: ruleName
        in: path
        description: The name of the firewall rule.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Resource 'RedisFirewallRule' update operation succeeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RedisFirewallRule'
        '201':
          description: Resource 'RedisFirewallRule' create operation succeeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RedisFirewallRule'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse
      x-ms-examples:
        RedisCacheFirewallRuleCreate:
          $ref: ./examples/RedisCacheFirewallRuleCreate.json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RedisFirewallRule'
        description: Parameters supplied to the create or update redis firewall rule operation.
        required: true
      summary: Firewall rules create or update
      x-summary-source: derived
    delete:
      operationId: FirewallRules_Delete
      tags:
      - RedisFirewallRules
      description: Deletes a single firewall rule in a specified redis cache.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter
      - name: cacheName
        in: path
        description: The name of the Redis cache.
        required: true
        schema:
          type: string
          pattern: ^([a-zA-Z0-9][a-zA-Z0-9-]*[a-zA-Z0-9]|[a-zA-Z0-9])$
      - name: ruleName
        in: path
        description: The name of the firewall rule.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Resource deleted successfully.
        '204':
          description: Resource does not exist.
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse
      x-ms-examples:
        RedisCacheFirewallRuleDelete:
          $ref: ./examples/RedisCacheFirewallRuleDelete.json
      summary: Firewall rules delete
      x-summary-source: derived
components:
  schemas:
    RedisFirewallRuleProperties:
      type: object
      description: Specifies a range of IP addresses permitted to connect to the cache
      properties:
        startIP:
          type: string
          description: lowest IP address included in the range
        endIP:
          type: string
          description: highest IP address included in the range
      required:
      - startIP
      - endIP
    RedisFirewallRule:
      type: object
      description: A firewall rule on a redis cache has a name, and describes a contiguous range of IP addresses permitted to connect
      properties:
        properties:
          $ref: '#/components/schemas/RedisFirewallRuleProperties'
          description: redis cache firewall rule properties
          x-ms-client-flatten: true
      required:
      - properties
      allOf:
      - $ref: ../../../../../../common-types/resource-management/v4/types.json#/definitions/ProxyResource
    RedisFirewallRuleListResult:
      type: object
      description: The response of a RedisFirewallRule list operation.
      properties:
        value:
          type: array
          description: The RedisFirewallRule items on this page
          items:
            $ref: '#/components/schemas/RedisFirewallRule'
        nextLink:
          type: string
          format: uri
          description: The link to the next page of items
      required:
      - value
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
