openapi: 3.2.0
info:
  title: RedisManagementClient Redis Cache Access Policy Assignments…
  version: '2024-11-01'
  description: REST API for Azure Redis Cache Service.
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: RedisCacheAccessPolicyAssignments
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/redis/{cacheName}/accessPolicyAssignments
  : get:
      operationId: AccessPolicyAssignment_List
      tags:
      - RedisCacheAccessPolicyAssignments
      description: Gets the list of access policy assignments associated with this redis cache
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter
      - name: cacheName
        in: path
        description: The name of the Redis cache.
        required: true
        schema:
          type: string
          pattern: ^([a-zA-Z0-9][a-zA-Z0-9-]*[a-zA-Z0-9]|[a-zA-Z0-9])$
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RedisCacheAccessPolicyAssignmentList'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse
      x-ms-examples:
        RedisCacheAccessPolicyAssignmentList:
          $ref: ./examples/RedisCacheAccessPolicyAssignmentList.json
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Access policy assignment list
      x-summary-source: derived
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/redis/{cacheName}/accessPolicyAssignments/{accessPolicyAssignmentName}
  : get:
      operationId: AccessPolicyAssignment_Get
      tags:
      - RedisCacheAccessPolicyAssignments
      description: Gets the list of assignments for an access policy of a redis cache
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter
      - name: cacheName
        in: path
        description: The name of the Redis cache.
        required: true
        schema:
          type: string
          pattern: ^([a-zA-Z0-9][a-zA-Z0-9-]*[a-zA-Z0-9]|[a-zA-Z0-9])$
      - name: accessPolicyAssignmentName
        in: path
        description: The name of the access policy assignment.
        required: true
        schema:
          type: string
          maxLength: 63
          minLength: 3
          pattern: ^([a-zA-Z0-9][a-zA-Z0-9-]*[a-zA-Z0-9]|[a-zA-Z0-9])$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RedisCacheAccessPolicyAssignment'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse
      x-ms-examples:
        RedisCacheAccessPolicyAssignmentGet:
          $ref: ./examples/RedisCacheAccessPolicyAssignmentGet.json
      summary: Access policy assignment get
      x-summary-source: derived
    put:
      operationId: AccessPolicyAssignment_CreateUpdate
      tags:
      - RedisCacheAccessPolicyAssignments
      description: Adds the access policy assignment to the specified users
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter
      - name: cacheName
        in: path
        description: The name of the Redis cache.
        required: true
        schema:
          type: string
          pattern: ^([a-zA-Z0-9][a-zA-Z0-9-]*[a-zA-Z0-9]|[a-zA-Z0-9])$
      - name: accessPolicyAssignmentName
        in: path
        description: The name of the access policy assignment.
        required: true
        schema:
          type: string
          maxLength: 63
          minLength: 3
          pattern: ^([a-zA-Z0-9][a-zA-Z0-9-]*[a-zA-Z0-9]|[a-zA-Z0-9])$
      responses:
        '200':
          description: Resource 'RedisCacheAccessPolicyAssignment' update operation succeeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RedisCacheAccessPolicyAssignment'
        '201':
          description: Resource 'RedisCacheAccessPolicyAssignment' create operation succeeded
          headers:
            Location:
              description: The Location header contains the URL where the status of the long running operation can be checked.
              schema:
                type: string
            Retry-After:
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
              schema:
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RedisCacheAccessPolicyAssignment'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse
      x-ms-examples:
        RedisCacheAccessPolicyAssignmentCreateUpdate:
          $ref: ./examples/RedisCacheAccessPolicyAssignmentCreateUpdate.json
      x-ms-long-running-operation-options:
        final-state-via: location
        final-state-schema: '#/definitions/RedisCacheAccessPolicyAssignment'
      x-ms-long-running-operation: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RedisCacheAccessPolicyAssignment'
        description: Parameters supplied to the Create Update Access Policy Assignment operation.
        required: true
      summary: Access policy assignment create update
      x-summary-source: derived
    delete:
      operationId: AccessPolicyAssignment_Delete
      tags:
      - RedisCacheAccessPolicyAssignments
      description: Deletes the access policy assignment from a redis cache
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter
      - name: cacheName
        in: path
        description: The name of the Redis cache.
        required: true
        schema:
          type: string
          pattern: ^([a-zA-Z0-9][a-zA-Z0-9-]*[a-zA-Z0-9]|[a-zA-Z0-9])$
      - name: accessPolicyAssignmentName
        in: path
        description: The name of the access policy assignment.
        required: true
        schema:
          type: string
          maxLength: 63
          minLength: 3
          pattern: ^([a-zA-Z0-9][a-zA-Z0-9-]*[a-zA-Z0-9]|[a-zA-Z0-9])$
      responses:
        '200':
          description: Resource deleted successfully.
        '202':
          description: Resource deletion accepted.
          headers:
            Location:
              description: The Location header contains the URL where the status of the long running operation can be checked.
              schema:
                type: string
            Retry-After:
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
              schema:
                type: integer
                format: int32
        '204':
          description: Resource does not exist.
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse
      x-ms-examples:
        RedisCacheAccessPolicyAssignmentDelete:
          $ref: ./examples/RedisCacheAccessPolicyAssignmentDelete.json
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-long-running-operation: true
      summary: Access policy assignment delete
      x-summary-source: derived
components:
  schemas:
    AccessPolicyAssignmentProvisioningState:
      type: string
      description: Provisioning state of an access policy assignment set
      enum:
      - Updating
      - Succeeded
      - Deleting
      - Deleted
      - Canceled
      - Failed
      x-ms-enum:
        name: AccessPolicyAssignmentProvisioningState
        modelAsString: true
        values:
        - name: Updating
          value: Updating
          description: The access policy assignments are being updated
        - name: Succeeded
          value: Succeeded
          description: The access policy assignments were successfully updated
        - name: Deleting
          value: Deleting
          description: The access policy assignments are being deleted
        - name: Deleted
          value: Deleted
          description: The access policy assignments are considered deleted, meaning no custom access policies are applied.
        - name: Canceled
          value: Canceled
          description: The operation was canceled. Access policy assignments may be in a partially updated state. Update them again to have a well-defined state.
        - name: Failed
          value: Failed
          description: The operation failed. Access policy assignments may be in a partially updated state. Update them again to have a well-defined state.
    RedisCacheAccessPolicyAssignmentProperties:
      type: object
      description: Properties for an access policy assignment
      properties:
        provisioningState:
          $ref: '#/components/schemas/AccessPolicyAssignmentProvisioningState'
          description: Provisioning state of an access policy assignment set
          readOnly: true
        objectId:
          type: string
          description: Object Id to assign access policy to
        objectIdAlias:
          type: string
          description: User friendly name for object id. Also represents username for token based authentication
        accessPolicyName:
          type: string
          description: The name of the access policy that is being assigned
          pattern: ^([a-zA-Z0-9][a-zA-Z0-9- ]*[a-zA-Z0-9]|[a-zA-Z0-9])$
      required:
      - objectId
      - objectIdAlias
      - accessPolicyName
    RedisCacheAccessPolicyAssignment:
      type: object
      description: Response to an operation on access policy assignment
      properties:
        properties:
          $ref: '#/components/schemas/RedisCacheAccessPolicyAssignmentProperties'
          description: Properties of an access policy assignment
          x-ms-client-flatten: true
      allOf:
      - $ref: ../../../../../../common-types/resource-management/v4/types.json#/definitions/ProxyResource
    RedisCacheAccessPolicyAssignmentList:
      type: object
      description: List of access policies assignments (with properties) of a Redis cache.
      properties:
        value:
          type: array
          description: The RedisCacheAccessPolicyAssignment items on this page
          items:
            $ref: '#/components/schemas/RedisCacheAccessPolicyAssignment'
        nextLink:
          type: string
          format: uri
          description: The link to the next page of items
      required:
      - value
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
