openapi: 3.2.0
info:
  title: RedisManagementClient Linked Server API
  version: '2024-11-01'
  description: REST API for Azure Redis Cache Service.
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: LinkedServer
paths:
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/redis/{name}/linkedServers:
    get:
      operationId: LinkedServer_List
      tags:
      - LinkedServer
      description: Gets the list of linked servers associated with this redis cache (requires Premium SKU).
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: The name of the redis cache.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RedisLinkedServerWithPropertiesList'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse
      x-ms-examples:
        LinkedServer_List:
          $ref: ./examples/RedisCacheLinkedServer_List.json
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Linked server list
      x-summary-source: derived
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/redis/{name}/linkedServers/{linkedServerName}
  : get:
      operationId: LinkedServer_Get
      tags:
      - LinkedServer
      description: Gets the detailed information about a linked server of a redis cache (requires Premium SKU).
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: The name of the redis cache.
        required: true
        schema:
          type: string
      - name: linkedServerName
        in: path
        description: The name of the RedisLinkedServerWithProperties
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RedisLinkedServerWithProperties'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse
      x-ms-examples:
        LinkedServer_Get:
          $ref: ./examples/RedisCacheLinkedServer_Get.json
      summary: Linked server get
      x-summary-source: derived
    put:
      operationId: LinkedServer_Create
      tags:
      - LinkedServer
      description: Adds a linked server to the Redis cache (requires Premium SKU).
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: The name of the redis cache.
        required: true
        schema:
          type: string
      - name: linkedServerName
        in: path
        description: The name of the RedisLinkedServerWithProperties
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RedisLinkedServerWithProperties'
        '201':
          description: Resource 'RedisLinkedServerWithProperties' create operation succeeded
          headers:
            Location:
              description: The Location header contains the URL where the status of the long running operation can be checked.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RedisLinkedServerWithProperties'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse
      x-ms-examples:
        LinkedServer_Create:
          $ref: ./examples/RedisCacheLinkedServer_Create.json
      x-ms-long-running-operation-options:
        final-state-via: location
        final-state-schema: '#/definitions/RedisLinkedServerWithProperties'
      x-ms-long-running-operation: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RedisLinkedServerCreateParameters'
        description: Parameters supplied to the Create Linked server operation.
        required: true
      summary: Linked server create
      x-summary-source: derived
    delete:
      operationId: LinkedServer_Delete
      tags:
      - LinkedServer
      description: Deletes the linked server from a redis cache (requires Premium SKU).
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: The name of the redis cache.
        required: true
        schema:
          type: string
      - name: linkedServerName
        in: path
        description: The name of the RedisLinkedServerWithProperties
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Resource deleted successfully.
        '202':
          description: Resource deletion accepted.
          headers:
            Location:
              description: The Location header contains the URL where the status of the long running operation can be checked.
              schema:
                type: string
            Retry-After:
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
              schema:
                type: integer
                format: int32
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse
      x-ms-examples:
        LinkedServerDelete:
          $ref: ./examples/RedisCacheLinkedServer_Delete.json
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-long-running-operation: true
      summary: Linked server delete
      x-summary-source: derived
components:
  schemas:
    ReplicationRole:
      type: string
      description: Role of the linked server.
      enum:
      - Primary
      - Secondary
      x-ms-enum:
        name: ReplicationRole
        modelAsString: false
        values:
        - name: Primary
          value: Primary
          description: The linked server is in the writable primary role
        - name: Secondary
          value: Secondary
          description: The linked server is in the read-only replica role
    RedisLinkedServerCreateProperties:
      type: object
      description: Create properties for a linked server
      properties:
        linkedRedisCacheId:
          type: string
          description: Fully qualified resourceId of the linked redis cache.
        linkedRedisCacheLocation:
          type: string
          description: Location of the linked redis cache.
          x-ms-mutability:
          - read
          - create
        serverRole:
          $ref: '#/components/schemas/ReplicationRole'
          description: Role of the linked server.
        geoReplicatedPrimaryHostName:
          type: string
          description: The unchanging DNS name which will always point to current geo-primary cache among the linked redis caches for seamless Geo Failover experience.
          readOnly: true
        primaryHostName:
          type: string
          description: The changing DNS name that resolves to the current geo-primary cache among the linked redis caches before or after the Geo Failover.
          readOnly: true
      required:
      - linkedRedisCacheId
      - linkedRedisCacheLocation
      - serverRole
    RedisLinkedServerProperties:
      type: object
      description: Properties of a linked server to be returned in get/put response
      properties:
        provisioningState:
          type: string
          description: Terminal state of the link between primary and secondary redis cache.
          readOnly: true
      allOf:
      - $ref: '#/components/schemas/RedisLinkedServerCreateProperties'
    RedisLinkedServerWithPropertiesList:
      type: object
      description: List of linked servers (with properties) of a Redis cache.
      properties:
        value:
          type: array
          description: The RedisLinkedServerWithProperties items on this page
          items:
            $ref: '#/components/schemas/RedisLinkedServerWithProperties'
        nextLink:
          type: string
          format: uri
          description: The link to the next page of items
      required:
      - value
    RedisLinkedServerCreateParameters:
      type: object
      description: Parameter required for creating a linked server to redis cache.
      properties:
        properties:
          $ref: '#/components/schemas/RedisLinkedServerCreateProperties'
          description: Properties required to create a linked server.
          x-ms-client-flatten: true
      required:
      - properties
    RedisLinkedServerWithProperties:
      type: object
      description: Response to put/get linked server (with properties) for Redis cache.
      properties:
        properties:
          $ref: '#/components/schemas/RedisLinkedServerProperties'
          description: Properties of the linked server.
          x-ms-client-flatten: true
      allOf:
      - $ref: ../../../../../../common-types/resource-management/v4/types.json#/definitions/ProxyResource
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
