openapi: 3.2.0
info:
  title: RedisManagementClient Redis Patch Schedules API
  version: '2024-11-01'
  description: REST API for Azure Redis Cache Service.
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: RedisPatchSchedules
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/redis/{cacheName}/patchSchedules
  : get:
      operationId: PatchSchedules_ListByRedisResource
      tags:
      - RedisPatchSchedules
      description: Gets all patch schedules in the specified redis cache (there is only one).
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter
      - name: cacheName
        in: path
        description: The name of the Redis cache.
        required: true
        schema:
          type: string
          pattern: ^([a-zA-Z0-9][a-zA-Z0-9-]*[a-zA-Z0-9]|[a-zA-Z0-9])$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RedisPatchScheduleListResult'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse
      x-ms-examples:
        RedisCachePatchSchedulesList:
          $ref: ./examples/RedisCachePatchSchedulesList.json
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Patch schedules list by redis resource
      x-summary-source: derived
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/redis/{name}/patchSchedules/{default}
  : get:
      operationId: PatchSchedules_Get
      tags:
      - RedisPatchSchedules
      description: Gets the patching schedule of a redis cache.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: The name of the redis cache.
        required: true
        schema:
          type: string
      - name: default
        in: path
        description: The name of the RedisPatchSchedule
        required: true
        x-ms-enum:
          name: DefaultName
          modelAsString: true
          values:
          - name: default
            value: default
            description: The name of e.g. the patch schedules resource, which is a singleton, must always be 'Default'
        schema:
          type: string
          enum:
          - default
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RedisPatchSchedule'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse
      x-ms-examples:
        RedisCachePatchSchedulesGet:
          $ref: ./examples/RedisCachePatchSchedulesGet.json
      summary: Patch schedules get
      x-summary-source: derived
    put:
      operationId: PatchSchedules_CreateOrUpdate
      tags:
      - RedisPatchSchedules
      description: Create or replace the patching schedule for Redis cache.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: The name of the redis cache.
        required: true
        schema:
          type: string
      - name: default
        in: path
        description: The name of the RedisPatchSchedule
        required: true
        x-ms-enum:
          name: DefaultName
          modelAsString: true
          values:
          - name: default
            value: default
            description: The name of e.g. the patch schedules resource, which is a singleton, must always be 'Default'
        schema:
          type: string
          enum:
          - default
      responses:
        '200':
          description: Resource 'RedisPatchSchedule' update operation succeeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RedisPatchSchedule'
        '201':
          description: Resource 'RedisPatchSchedule' create operation succeeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RedisPatchSchedule'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse
      x-ms-examples:
        RedisCachePatchSchedulesCreateOrUpdate:
          $ref: ./examples/RedisCachePatchSchedulesCreateOrUpdate.json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RedisPatchSchedule'
        description: Parameters to set the patching schedule for Redis cache.
        required: true
      summary: Patch schedules create or update
      x-summary-source: derived
    delete:
      operationId: PatchSchedules_Delete
      tags:
      - RedisPatchSchedules
      description: Deletes the patching schedule of a redis cache.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: The name of the redis cache.
        required: true
        schema:
          type: string
      - name: default
        in: path
        description: The name of the RedisPatchSchedule
        required: true
        x-ms-enum:
          name: DefaultName
          modelAsString: true
          values:
          - name: default
            value: default
            description: The name of e.g. the patch schedules resource, which is a singleton, must always be 'Default'
        schema:
          type: string
          enum:
          - default
      responses:
        '200':
          description: Resource deleted successfully.
        '204':
          description: Resource does not exist.
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse
      x-ms-examples:
        RedisCachePatchSchedulesDelete:
          $ref: ./examples/RedisCachePatchSchedulesDelete.json
      summary: Patch schedules delete
      x-summary-source: derived
components:
  schemas:
    ScheduleEntries:
      type: object
      description: List of patch schedules for a Redis cache.
      properties:
        scheduleEntries:
          type: array
          description: List of patch schedules for a Redis cache.
          items:
            $ref: '#/components/schemas/ScheduleEntry'
          x-ms-client-name: ScheduleEntries
          x-ms-identifiers: []
      required:
      - scheduleEntries
    ScheduleEntry:
      type: object
      description: Patch schedule entry for a Premium Redis Cache.
      properties:
        dayOfWeek:
          $ref: '#/components/schemas/DayOfWeek'
          description: Day of the week when a cache can be patched.
        startHourUtc:
          type: integer
          format: int32
          description: Start hour after which cache patching can start.
        maintenanceWindow:
          type: string
          format: duration
          description: ISO8601 timespan specifying how much time cache patching can take.
      required:
      - dayOfWeek
      - startHourUtc
    RedisPatchScheduleListResult:
      type: object
      description: The response of a RedisPatchSchedule list operation.
      properties:
        value:
          type: array
          description: The RedisPatchSchedule items on this page
          items:
            $ref: '#/components/schemas/RedisPatchSchedule'
        nextLink:
          type: string
          format: uri
          description: The link to the next page of items
      required:
      - value
    RedisPatchSchedule:
      type: object
      description: Response to put/get patch schedules for Redis cache.
      properties:
        properties:
          $ref: '#/components/schemas/ScheduleEntries'
          description: List of patch schedules for a Redis cache.
          x-ms-client-flatten: true
        location:
          type: string
          description: The geo-location where the resource lives
          readOnly: true
      required:
      - properties
      allOf:
      - $ref: ../../../../../../common-types/resource-management/v4/types.json#/definitions/ProxyResource
    DayOfWeek:
      type: string
      description: Day of the week when a cache can be patched.
      enum:
      - Monday
      - Tuesday
      - Wednesday
      - Thursday
      - Friday
      - Saturday
      - Sunday
      - Everyday
      - Weekend
      x-ms-enum:
        name: DayOfWeek
        modelAsString: false
        values:
        - name: Monday
          value: Monday
        - name: Tuesday
          value: Tuesday
        - name: Wednesday
          value: Wednesday
        - name: Thursday
          value: Thursday
        - name: Friday
          value: Friday
        - name: Saturday
          value: Saturday
        - name: Sunday
          value: Sunday
        - name: Everyday
          value: Everyday
          description: As a convenience, 'Everyday' is also accepted and means the same as specifying all days of the week.
        - name: Weekend
          value: Weekend
          description: As a convenience, 'Weekend' is also accepted and means the same as specifying Saturday and Sunday.
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
