openapi: 3.2.0
info:
  title: RedisManagementClient Redis Resources API
  version: '2024-11-01'
  description: REST API for Azure Redis Cache Service.
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: RedisResources
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Cache/redis:
    get:
      operationId: Redis_ListBySubscription
      tags:
      - RedisResources
      description: Gets all Redis caches in the specified subscription.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RedisListResult'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse
      x-ms-examples:
        RedisCacheList:
          $ref: ./examples/RedisCacheList.json
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Redis list by subscription
      x-summary-source: derived
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/redis:
    get:
      operationId: Redis_ListByResourceGroup
      tags:
      - RedisResources
      description: Lists all Redis caches in a resource group.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RedisListResult'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse
      x-ms-examples:
        RedisCacheListByResourceGroup:
          $ref: ./examples/RedisCacheListByResourceGroup.json
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Redis list by resource group
      x-summary-source: derived
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/redis/{name}:
    get:
      operationId: Redis_Get
      tags:
      - RedisResources
      description: Gets a Redis cache (resource description).
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: The name of the RedisResource
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RedisResource'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse
      x-ms-examples:
        RedisCacheGet:
          $ref: ./examples/RedisCacheGet.json
      summary: Redis get
      x-summary-source: derived
    put:
      operationId: Redis_Create
      tags:
      - RedisResources
      description: Create or replace (overwrite/recreate, with potential downtime) an existing Redis cache.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: The name of the RedisResource
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RedisResource'
        '201':
          description: Resource 'RedisResource' create operation succeeded
          headers:
            Location:
              description: The Location header contains the URL where the status of the long running operation can be checked.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RedisResource'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse
      x-ms-examples:
        RedisCacheCreate:
          $ref: ./examples/RedisCacheCreate.json
        RedisCacheCreateAutomaticZonalAllocationPolicy:
          $ref: ./examples/RedisCacheCreateAutomaticZonalAllocationPolicy.json
        RedisCacheCreateDefaultVersion:
          $ref: ./examples/RedisCacheCreateDefaultVersion.json
        RedisCacheCreateLatestVersion:
          $ref: ./examples/RedisCacheCreateLatestVersion.json
        RedisCacheCreateNoZonesZonalAllocationPolicy:
          $ref: ./examples/RedisCacheCreateNoZonesZonalAllocationPolicy.json
        RedisCacheCreateUserDefinedZonalAllocationPolicy:
          $ref: ./examples/RedisCacheCreateUserDefinedZonalAllocationPolicy.json
      x-ms-long-running-operation-options:
        final-state-via: location
        final-state-schema: '#/definitions/RedisResource'
      x-ms-long-running-operation: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RedisCreateParameters'
        description: Parameters supplied to the Create Redis operation.
        required: true
      summary: Redis create
      x-summary-source: derived
    patch:
      operationId: Redis_Update
      tags:
      - RedisResources
      description: Update an existing Redis cache.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: The name of the RedisResource
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RedisResource'
        '202':
          description: The request has been accepted for processing, but processing has not yet completed.
          headers:
            Location:
              description: The Location header contains the URL where the status of the long running operation can be checked.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RedisResource'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse
      x-ms-examples:
        RedisCacheUpdate:
          $ref: ./examples/RedisCacheUpdate.json
      x-ms-long-running-operation-options:
        final-state-via: location
        final-state-schema: '#/definitions/RedisResource'
      x-ms-long-running-operation: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RedisUpdateParameters'
        description: Parameters supplied to the Update Redis operation.
        required: true
      summary: Redis update
      x-summary-source: derived
    delete:
      operationId: Redis_Delete
      tags:
      - RedisResources
      description: Deletes a Redis cache.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: The name of the RedisResource
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Resource deleted successfully.
        '202':
          description: Resource deletion accepted.
          headers:
            Location:
              description: The Location header contains the URL where the status of the long running operation can be checked.
              schema:
                type: string
            Retry-After:
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
              schema:
                type: integer
                format: int32
        '204':
          description: Resource does not exist.
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse
      x-ms-examples:
        RedisCacheDelete:
          $ref: ./examples/RedisCacheDelete.json
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-long-running-operation: true
      summary: Redis delete
      x-summary-source: derived
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/redis/{name}/export:
    post:
      operationId: Redis_ExportData
      tags:
      - RedisResources
      description: Export data from the redis cache to blobs in a container.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: The name of the RedisResource
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The request has succeeded.
        '202':
          description: Resource operation accepted.
          headers:
            Location:
              description: The Location header contains the URL where the status of the long running operation can be checked.
              schema:
                type: string
            Retry-After:
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
              schema:
                type: integer
                format: int32
        '204':
          description: Operation completed successfully.
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse
      x-ms-examples:
        RedisCacheExport:
          $ref: ./examples/RedisCacheExport.json
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-long-running-operation: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExportRDBParameters'
        description: Parameters for Redis export operation.
        required: true
      summary: Redis export data
      x-summary-source: derived
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/redis/{cacheName}/flush:
    post:
      operationId: Redis_FlushCache
      tags:
      - RedisResources
      description: Deletes all of the keys in a cache.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter
      - name: cacheName
        in: path
        description: The name of the Redis cache.
        required: true
        schema:
          type: string
          pattern: ^([a-zA-Z0-9][a-zA-Z0-9-]*[a-zA-Z0-9]|[a-zA-Z0-9])$
      responses:
        '200':
          description: The request has succeeded.
          headers:
            Azure-AsyncOperation:
              description: A link to the status monitor
              schema:
                type: string
                format: uri
            Location:
              description: The Location header contains the URL where the status of the long running operation can be checked.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v4/types.json#/definitions/OperationStatusResult
        '202':
          description: Resource operation accepted.
          headers:
            Azure-AsyncOperation:
              description: A link to the status monitor
              schema:
                type: string
                format: uri
            Location:
              description: The Location header contains the URL where the status of the long running operation can be checked.
              schema:
                type: string
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse
      x-ms-examples:
        RedisCacheFlush:
          $ref: ./examples/RedisCacheFlush.json
      x-ms-long-running-operation-options:
        final-state-via: location
        final-state-schema: ../../../../../../common-types/resource-management/v4/types.json#/definitions/OperationStatusResult
      x-ms-long-running-operation: true
      summary: Redis flush cache
      x-summary-source: derived
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/redis/{name}/forceReboot:
    post:
      operationId: Redis_ForceReboot
      tags:
      - RedisResources
      description: Reboot specified Redis node(s). This operation requires write permission to the cache resource. There can be potential data loss.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: The name of the RedisResource
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RedisForceRebootResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse
      x-ms-examples:
        RedisCacheForceReboot:
          $ref: ./examples/RedisCacheForceReboot.json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RedisRebootParameters'
        description: Specifies which Redis node(s) to reboot.
        required: true
      summary: Redis force reboot
      x-summary-source: derived
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/redis/{name}/import:
    post:
      operationId: Redis_ImportData
      tags:
      - RedisResources
      description: Import data into Redis cache.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: The name of the RedisResource
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The request has succeeded.
        '202':
          description: Resource operation accepted.
          headers:
            Location:
              description: The Location header contains the URL where the status of the long running operation can be checked.
              schema:
                type: string
            Retry-After:
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
              schema:
                type: integer
                format: int32
        '204':
          description: Operation completed successfully.
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse
      x-ms-examples:
        RedisCacheImport:
          $ref: ./examples/RedisCacheImport.json
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-long-running-operation: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImportRDBParameters'
        description: Parameters for Redis import operation.
        required: true
      summary: Redis import data
      x-summary-source: derived
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/redis/{name}/listKeys:
    post:
      operationId: Redis_ListKeys
      tags:
      - RedisResources
      description: Retrieve a Redis cache's access keys. This operation requires write permission to the cache resource.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: The name of the RedisResource
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RedisAccessKeys'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse
      x-ms-examples:
        RedisCacheListKeys:
          $ref: ./examples/RedisCacheListKeys.json
      summary: Redis list keys
      x-summary-source: derived
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/redis/{name}/listUpgradeNotifications
  : get:
      operationId: Redis_ListUpgradeNotifications
      tags:
      - RedisResources
      description: '[Deprecated] Gets any upgrade notifications for a Redis cache.'
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: The name of the RedisResource
        required: true
        schema:
          type: string
      - name: history
        in: query
        description: how many minutes in past to look for upgrade notifications
        required: true
        schema:
          type: number
          format: double
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationListResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse
      x-ms-examples:
        RedisCacheListUpgradeNotifications:
          $ref: ./examples/RedisCacheListUpgradeNotifications.json
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Redis list upgrade notifications
      x-summary-source: derived
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/redis/{cacheName}/privateLinkResources
  : get:
      operationId: PrivateLinkResources_ListByRedisCache
      tags:
      - RedisResources
      description: Gets the private link resources that need to be created for a redis cache.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter
      - name: cacheName
        in: path
        description: The name of the Redis cache.
        required: true
        schema:
          type: string
          pattern: ^([a-zA-Z0-9][a-zA-Z0-9-]*[a-zA-Z0-9]|[a-zA-Z0-9])$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateLinkResourceListResult'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse
      x-ms-examples:
        StorageAccountListPrivateLinkResources:
          $ref: ./examples/RedisCacheListPrivateLinkResources.json
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Private link resources list by redis cache
      x-summary-source: derived
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/redis/{name}/regenerateKey:
    post:
      operationId: Redis_RegenerateKey
      tags:
      - RedisResources
      description: Regenerate Redis cache's access keys. This operation requires write permission to the cache resource.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter
      - name: name
        in: path
        description: The name of the RedisResource
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RedisAccessKeys'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: ../../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse
      x-ms-examples:
        RedisCacheRegenerateKey:
          $ref: ./examples/RedisCacheRegenerateKey.json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RedisRegenerateKeyParameters'
        description: Specifies which key to regenerate.
        required: true
      summary: Redis regenerate key
      x-summary-source: derived
components:
  schemas:
    RedisResource:
      type: object
      description: A single Redis item in List or Get Operation.
      properties:
        properties:
          $ref: '#/components/schemas/RedisProperties'
          description: Redis cache properties.
          x-ms-client-flatten: true
        zones:
          type: array
          description: The availability zones.
          items:
            type: string
        identity:
          $ref: ../../../../../../common-types/resource-management/v4/managedidentity.json#/definitions/ManagedServiceIdentity
          description: The managed service identities assigned to this resource.
      required:
      - properties
      allOf:
      - $ref: ../../../../../../common-types/resource-management/v4/types.json#/definitions/TrackedResource
    RedisInstanceDetails:
      type: object
      description: Details of single instance of redis.
      properties:
        sslPort:
          type: integer
          format: int32
          description: Redis instance SSL port.
          readOnly: true
        nonSslPort:
          type: integer
          format: int32
          description: If enableNonSslPort is true, provides Redis instance Non-SSL port.
          readOnly: true
        zone:
          type: string
          description: If the Cache uses availability zones, specifies availability zone where this instance is located.
          readOnly: true
        shardId:
          type: integer
          format: int32
          description: If clustering is enabled, the Shard ID of Redis Instance
          readOnly: true
        isMaster:
          type: boolean
          description: Specifies whether the instance is a primary node.
          readOnly: true
        isPrimary:
          type: boolean
          description: Specifies whether the instance is a primary node.
          readOnly: true
    RedisCommonProperties:
      type: object
      description: Create/Update/Get common properties of the redis cache.
      properties:
        redisConfiguration:
          $ref: '#/components/schemas/RedisCommonPropertiesRedisConfiguration'
          description: 'All Redis Settings. Few possible keys: rdb-backup-enabled,rdb-storage-connection-string,rdb-backup-frequency,maxmemory-delta, maxmemory-policy,notify-keyspace-events, aof-backup-enabled, aof-storage-connection-string-0, aof-storage-connection-string-1 etc.'
        redisVersion:
          type: string
          description: 'Redis version. This should be in the form ''major[.minor]'' (only ''major'' is required) or the value ''latest'' which refers to the latest stable Redis version that is available. Supported versions: 4.0, 6.0 (latest). Default value is ''latest''.'
        enableNonSslPort:
          type: boolean
          description: Specifies whether the non-ssl Redis server port (6379) is enabled.
          default: false
        replicasPerMaster:
          type: integer
          format: int32
          description: The number of replicas to be created per primary.
        replicasPerPrimary:
          type: integer
          format: int32
          description: The number of replicas to be created per primary.
        tenantSettings:
          type: object
          description: A dictionary of tenant settings
          additionalProperties:
            type: string
        shardCount:
          type: integer
          format: int32
          description: The number of shards to be created on a Premium Cluster Cache.
        minimumTlsVersion:
          $ref: '#/components/schemas/TlsVersion'
          description: 'Optional: requires clients to use a specified TLS version (or higher) to connect (e,g, ''1.0'', ''1.1'', ''1.2'')'
        publicNetworkAccess:
          $ref: '#/components/schemas/PublicNetworkAccess'
          description: Whether or not public endpoint access is allowed for this cache.  Value is optional but if passed in, must be 'Enabled' or 'Disabled'. If 'Disabled', private endpoints are the exclusive access method.
        updateChannel:
          $ref: '#/components/schemas/UpdateChannel'
          description: 'Optional: Specifies the update channel for the monthly Redis updates your Redis Cache will receive. Caches using ''Preview'' update channel get latest Redis updates at least 4 weeks ahead of ''Stable'' channel caches. Default value is ''Stable''.'
        disableAccessKeyAuthentication:
          type: boolean
          description: Authentication to Redis through access keys is disabled when set as true. Default value is false.
          default: false
        zonalAllocationPolicy:
          $ref: '#/components/schemas/ZonalAllocationPolicy'
          description: 'Optional: Specifies how availability zones are allocated to the Redis cache. ''Automatic'' enables zone redundancy and Azure will automatically select zones based on regional availability and capacity. ''UserDefined'' will select availability zones passed in by you using the ''zones'' parameter. ''NoZones'' will produce a non-zonal cache. If ''zonalAllocationPolicy'' is not passed, it will be set to ''UserDefined'' when zones are passed in, otherwise, it will be set to ''Automatic'' in regions where zones are supported and ''NoZones'' in regions where zones are not supported.'
      x-ms-external: true
    RebootType:
      type: string
      description: Which Redis node(s) to reboot. Depending on this value data loss is possible.
      enum:
      - PrimaryNode
      - SecondaryNode
      - AllNodes
      x-ms-enum:
        name: RebootType
        modelAsString: true
        values:
        - name: PrimaryNode
          value: PrimaryNode
          description: Reboot the primary nodes used for redis write operations. (This may trigger role changes.)
        - name: SecondaryNode
          value: SecondaryNode
          description: Reboot only the secondary or replica nodes
        - name: AllNodes
          value: AllNodes
          description: Reboot all nodes, not guaranteed to happen simultaneously.
    RedisUpdateProperties:
      type: object
      description: Patchable properties of the redis cache.
      properties:
        sku:
          $ref: '#/components/schemas/Sku'
          description: The SKU of the Redis cache to deploy.
      allOf:
      - $ref: '#/components/schemas/RedisCommonProperties'
      x-ms-external: true
    RedisRegenerateKeyParameters:
      type: object
      description: Specifies which Redis access keys to reset.
      properties:
        keyType:
          $ref: '#/components/schemas/RedisKeyType'
          description: The Redis access key to regenerate.
      required:
      - keyType
    RedisRebootParameters:
      type: object
      description: Specifies which Redis node(s) to reboot.
      properties:
        rebootType:
          $ref: '#/components/schemas/RebootType'
          description: Which Redis node(s) to reboot. Depending on this value data loss is possible.
        shardId:
          type: integer
          format: int32
          description: If clustering is enabled, the ID of the shard to be rebooted.
        ports:
          type: array
          description: A list of redis instances to reboot, specified by per-instance SSL ports or non-SSL ports.
          items:
            type: integer
            format: int32
    RedisUpdateParameters:
      type: object
      description: Parameters supplied to the Update Redis operation.
      properties:
        properties:
          $ref: '#/components/schemas/RedisUpdateProperties'
          description: Redis cache properties.
          x-ms-client-flatten: true
        tags:
          type: object
          description: Resource tags.
          additionalProperties:
            type: string
        identity:
          $ref: ../../../../../../common-types/resource-management/v4/managedidentity.json#/definitions/ManagedServiceIdentity
          description: The identity of the resource.
    SkuFamily:
      type: string
      description: 'The SKU family to use. Valid values: (C, P). (C = Basic/Standard, P = Premium).'
      enum:
      - C
      - P
      x-ms-enum:
        name: SkuFamily
        modelAsString: true
        values:
        - name: C
          value: C
          description: The SKU family to use - must be 'C' for Basic/Standard SKU redis caches.
        - name: P
          value: P
          description: The SKU family to use - must be 'P' for Premium SKU redis caches.
    Sku:
      type: object
      description: SKU parameters supplied to the create Redis operation.
      properties:
        name:
          $ref: '#/components/schemas/SkuName'
          description: 'The type of Redis cache to deploy. Valid values: (Basic, Standard, Premium)'
        family:
          $ref: '#/components/schemas/SkuFamily'
          description: 'The SKU family to use. Valid values: (C, P). (C = Basic/Standard, P = Premium).'
        capacity:
          type: integer
          format: int32
          description: 'The size of the Redis cache to deploy. Valid values: for C (Basic/Standard) family (0, 1, 2, 3, 4, 5, 6), for P (Premium) family (1, 2, 3, 4).'
      required:
      - name
      - family
      - capacity
    RedisAccessKeys:
      type: object
      description: Redis cache access keys.
      properties:
        primaryKey:
          type: string
          description: The current primary key that clients can use to authenticate with Redis cache.
          readOnly: true
        secondaryKey:
          type: string
          description: The current secondary key that clients can use to authenticate with Redis cache.
          readOnly: true
    RedisListResult:
      type: object
      description: The response of list Redis operation.
      properties:
        value:
          type: array
          description: The RedisResource items on this page
          items:
            $ref: '#/components/schemas/RedisResource'
        nextLink:
          type: string
          format: uri
          description: The link to the next page of items
      required:
      - value
    SkuName:
      type: string
      description: 'The type of Redis cache to deploy. Valid values: (Basic, Standard, Premium)'
      enum:
      - Basic
      - Standard
      - Premium
      x-ms-enum:
        name: SkuName
        modelAsString: true
        values:
        - name: Basic
          value: Basic
          description: The well known 'Basic' SKU for Azure Cache for Redis. Basic SKU does not have an availability SLA.
        - name: Standard
          value: Standard
          description: The well known 'Standard' SKU for Azure Cache for Redis. Standard SKU has an availability SLA.
        - name: Premium
          value: Premium
          description: The well known 'Premium' SKU for Azure Cache for Redis. Premium SKU has an availability SLA, and higher performance tiers and more features compared with Standard SKU.
    RedisCreateParameters:
      type: object
      description: Parameters supplied to the Create Redis operation.
      properties:
        properties:
          $ref: '#/components/schemas/RedisCreateProperties'
          description: Redis cache properties.
          x-ms-client-flatten: true
        zones:
          type: array
          description: A list of availability zones denoting where the resource needs to come from.
          items:
            type: string
        location:
          type: string
          description: The geo-location where the resource lives
          x-ms-mutability:
          - read
          - create
        tags:
          type: object
          description: Resource tags.
          additionalProperties:
            type: string
        identity:
          $ref: ../../../../../../common-types/resource-management/v4/managedidentity.json#/definitions/ManagedServiceIdentity
          description: The identity of the resource.
      required:
      - properties
      - location
    ProvisioningState:
      type: string
      description: Redis instance provisioning status.
      enum:
      - Creating
      - Deleting
      - Disabled
      - Failed
      - Linking
      - Provisioning
      - RecoveringScaleFailure
      - Scaling
      - Succeeded
      - Unlinking
      - Unprovisioning
      - Updating
      - ConfiguringAAD
      x-ms-enum:
        name: ProvisioningState
        modelAsString: true
        values:
        - name: Creating
          value: Creating
          description: A create operation is in progress.
        - name: Deleting
          value: Deleting
          description: A delete operation is in progress.
        - name: Disabled
          value: Disabled
          description: The cache is disabled and cannot be used.
        - name: Failed
          value: Failed
          description: An operation such as create or update failed. If you failed to create the cache it will not be in a usable state, so you should delete and recreate it.
        - name: Linking
          value: Linking
          description: Georeplication link is in progress
        - name: Provisioning
          value: Provisioning
          description: An operation is in progress
        - name: RecoveringScaleFailure
          value: RecoveringScaleFailure
          description: A scaling operation encountered an error and recovery is in progress.
        - name: Scaling
          value: Scaling
          description: A scaling operation is in progress
        - name: Succeeded
          value: Succeeded
          description: The most recent operation successfully completed
        - name: Unlinking
          value: Unlinking
          description: Georeplication unlink is in progress
        - name: Unprovisioning
          value: Unprovisioning
          description: The cache may be being disabled
        - name: Updating
          value: Updating
          description: An update operation is in progress.
        - name: ConfiguringAAD
          value: ConfiguringAAD
          description: An AAD configuration update operation is in progress.
    RedisCreateProperties:
      type: object
      description: Properties supplied to Create Redis operation.
      properties:
        sku:
          $ref: '#/components/schemas/Sku'
          description: The SKU of the Redis cache to deploy.
        subnetId:
          type: string
          description: 'The full resource ID of a subnet in a virtual network to deploy the Redis cache in. Example format: /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/Microsoft.{Network|ClassicNetwork}/VirtualNetworks/vnet1/subnets/subnet1'
          pattern: ^/subscriptions/[^/]*/resourceGroups/[^/]*/providers/Microsoft.(ClassicNetwork|Network)/virtualNetworks/[^/]*/subnets/[^/]*$
        staticIP:
          type: string
          description: Static IP address. Optionally, may be specified when deploying a Redis cache inside an existing Azure Virtual Network; auto assigned by default.
          pattern: ^\d+\.\d+\.\d+\.\d+$
          x-ms-mutability:
          - read
          - create
      required:
      - sku
      allOf:
      - $ref: '#/components/schemas/RedisCommonProperties'
      x-ms-external: true
    TlsVersion:
      type: string
      description: 'Optional: requires clients to use a specified TLS version (or higher) to connect (e,g, ''1.0'', ''1.1'', ''1.2'')'
      enum:
      - '1.0'
      - '1.1'
      - '1.2'
      x-ms-enum:
        name: TlsVersion
        modelAsString: true
        values:
        - name: '1.0'
          value: '1.0'
          description: TLS protocol version 1.0 -- deprecated for security reasons. Do not use this value for new caches.
        - name: '1.1'
          value: '1.1'
          description: TLS protocol version 1.1 -- deprecated for security reasons. Do not use this value for new caches.
        - name: '1.2'
          value: '1.2'
          description: TLS protocol version 1.2 -- use this value, or higher, for new caches. Or do not specify, so that your cache uses the recommended default value
    UpgradeNotification:
      type: object
      description: Properties of upgrade notification.
      properties:
        name:
          type: string
          description: Name of upgrade notification.
          readOnly: true
        timestamp:
          type: string
          format: date-time
          description: Timestamp when upgrade notification occurred.
          readOnly: true
        upsellNotification:
          type: object
          description: Details about this upgrade notification
          additionalProperties:
            type: string
          readOnly: true
    PublicNetworkAccess:
      type: string
      description: Whether or not public endpoint access is allowed for this cache.  Value is optional but if passed in, must be 'Enabled' or 'Disabled'. If 'Disabled', private endpoints are the exclusive access method. Default value is 'Enabled'
      enum:
      - Enabled
      - Disabled
      x-ms-enum:
        name: PublicNetworkAccess
        modelAsString: true
        values:
        - name: Enabled
          value: Enabled
          description: Public internet access to the cache, via its public IP address, is enabled. Connections may use any network path.
        - name: Disabled
          value: Disabled
          description: Public internet access to the cache, via its public IP address, is disabled. Connections must use be made via private endpoints.
    ZonalAllocationPolicy:
      type: string
      description: 'Optional: Specifies how availability zones are allocated to the Redis cache. ''Automatic'' enables zone redundancy and Azure will automatically select zones based on regional availability and capacity. ''UserDefined'' will select availability zones passed in by you using the ''zones'' parameter. ''NoZones'' will produce a non-zonal cache. If ''zonalAllocationPolicy'' is not passed, it will be set to ''UserDefined'' when zones are passed in, otherwise, it will be set to ''Automatic'' in regions where zones are supported and ''NoZones'' in regions where zones are not supported.'
      enum:
      - Automatic
      - UserDefined
      - NoZones
      x-ms-enum:
        name: ZonalAllocationPolicy
        modelAsString: true
        values:
        - name: Automatic
          value: Automatic
          description: The zones for the cache will be selected automatically based on availability and capacity.
        - name: UserDefined
          value: UserDefined
          description: UserDefined means the zones for the cache are manually configured using the 'zones' property, and can not be automatically selected.
        - name: NoZones
          value: NoZones
          description: The cache will not use multiple availability zones.
    RedisProperties:
      type: object
      description: Properties of the redis cache.
      properties:
        provisioningState:
          $ref: '#/components/schemas/ProvisioningState'
          description: Redis instance provisioning status.
          readOnly: true
        hostName:
          type: string
          description: Redis host name.
          readOnly: true
        port:
          type: integer
          format: int32
          description: Redis non-SSL port.
          readOnly: true
        sslPort:
          type: integer
          format: int32
          description: Redis SSL port.
          readOnly: true
        accessKeys:
          $ref: '#/components/schemas/RedisAccessKeys'
          description: The keys of the Redis cache - not set if this object is not the response to Create or Update redis cache
          readOnly: true
        linkedServers:
          type: array
          description: List of the linked servers associated with the cache
          items:
            $ref: '#/components/schemas/RedisLinkedServer'
          readOnly: true
        instances:
          type: array
          description: List of the Redis instances associated with the cache
          items:
            $ref: '#/components/schemas/RedisInstanceDetails'
          readOnly: true
          x-ms-identifiers:
          - shardId
        privateEndpointConnections:
          type: array
          description: List of private endpoint connection associated with the specified redis cache
          items:
            $ref: ../../../../../../common-types/resource-management/v4/privatelinks.json#/definitions/PrivateEndpointConnection
          readOnly: true
      allOf:
      - $ref: '#/components/schemas/RedisCreateProperties'
      x-ms-external: true
    ImportRDBParameters:
      type: object
      description: Parameters for Redis import operation.
      properties:
        format:
          type: string
          description: File format.
        files:
          type: array
          description: files to import.
          items:
            type: string
        preferred-data-archive-auth-method:
          type: string
          description: Preferred auth method to communicate to storage account used for data archive, specify SAS or ManagedIdentity, default value is SAS
        storage-subscription-id:
          type: string
          description: Subscription id of the storage container containing files to import using Managed Identity.
      required:
      - files
    NotificationListResponse:
      type: object
      description: The response of listUpgradeNotifications.
      properties:
        value:
          type: array
          description: The UpgradeNotification items on this page
          items:
            $ref: '#/components/schemas/UpgradeNotification'
          x-ms-identifiers:
          - name
          - timestamp
        nextLink:
          type: string
          format: uri
          description: The link to the next page of items
      required:
      - value
    RedisLinkedServer:
      type: object
      description: Linked server Id
      properties:
        id:
          type: string
          description: Linked server Id.
          readOnly: true
    RedisCommonPropertiesRedisConfiguration:
      type: object
      description: 'All Redis Settings. Few possible keys: rdb-backup-enabled,rdb-storage-connection-string,rdb-backup-frequency,maxmemory-delta, maxmemory-policy,notify-keyspace-events, aof-backup-enabled, aof-storage-connection-string-0, aof-storage-connection-string-1 etc.'
      properties:
        rdb-backup-enabled:
          type: string
          description: Specifies whether the RDB backup is enabled
          x-ms-client-name: rdbBackupEnabled
        rdb-backup-frequency:
          type: string
          description: 'Specifies the frequency for creating rdb backup in minutes. Valid values: (15, 30, 60, 360, 720, 1440)'
          x-ms-client-name: rdbBackupFrequency
        rdb-backup-max-snapshot-count:
          type: string
          description: Specifies the maximum number of snapshots for rdb backup
          x-ms-client-name: rdbBackupMaxSnapshotCount
        rdb-storage-connection-string:
          type: string
          description: The storage account connection string for storing rdb file
          x-ms-client-name: rdbStorageConnectionString
        aof-backup-enabled:
          type: string
          description: Specifies whether the aof backup is enabled
          x-ms-client-name: aofBackupEnabled
        aof-storage-connection-string-0:
          type: string
          description: First storage account connection string
          x-ms-client-name: aofStorageConnectionString0
        aof-storage-connection-string-1:
          type: string
          description: Second storage account connection string
          x-ms-client-name: aofStorageConnectionString1
        maxfragmentationmemory-reserved:
          type: string
          description: Value in megabytes reserved for fragmentation per shard
          x-ms-client-name: maxfragmentationmemoryReserved
        maxmemory-policy:
          type: string
          description: The eviction strategy used when your data won't fit within its memory limit.
          x-ms-client-name: maxmemoryPolicy
        maxmemory-reserved:
          type: string
          description: Value in megabytes reserved for non-cache usage per shard e.g. failover.
          x-ms-client-name: maxmemoryReserved
        maxmemory-delta:
          type: string
          description: Value in megabytes reserved for non-cache usage per shard e.g. failover.
          x-ms-client-name: maxmemoryDelta
        maxclients:
          type: string
          description: The max clients config
          readOnly: true
        notify-keyspace-events:
          type: string
          description: The keyspace events which should be monitored.
          x-ms-client-name: notifyKeyspaceEvents
        preferred-data-archive-auth-method:
          type: string
          description: Preferred auth method to communicate to storage account used for data archive, specify SAS or ManagedIdentity, default value is SAS
          readOnly: true
          x-ms-client-name: preferredDataArchiveAuthMethod
        preferred-data-persistence-auth-method:
          type: string
          description: Preferred auth method to communicate to storage account used for data persistence, specify SAS or ManagedIdentity, default value is SAS
          x-ms-client-name: preferredDataPersistenceAuthMethod
        zonal-configuration:
          type: string
          description: Zonal Configuration
          readOnly: true
          x-ms-client-name: zonalConfiguration
        authnotrequired:
          type: string
          description: Specifies whether the authentication is disabled. Setting this property is highly discouraged from security point of view; you should never disable authentication using this property!
        storage-subscription-id:
          type: string
          description: SubscriptionId of the storage account for persistence (aof/rdb) using ManagedIdentity.
          x-ms-client-name: storageSubscriptionId
        aad-enabled:
          type: string
          description: Specifies whether AAD based authentication has been enabled or disabled for the cache
          x-ms-client-name: aadEnabled
      additionalProperties: {}
    PrivateLinkResourceListResult:
      type: object
      description: The response of a PrivateLinkResource list operation.
      properties:
        value:
          type: array
          description: The PrivateLinkResource items on this page
          items:
            $ref: ../../../../../../common-types/resource-management/v4/privatelinks.json#/definitions/PrivateLinkResource
        nextLink:
          type: string
          format: uri
          description: The link to the next page of items
      required:
      - value
    ExportRDBParameters:
      type: object
      description: Parameters for Redis export operation.
      properties:
        format:
          type: string
          description: File format.
        prefix:
          type: string
          description: Prefix to use for exported files.
        container:
          type: string
          description: Container name to export to.
        preferred-data-archive-auth-method:
          type: string
          description: Preferred auth method to communicate to storage account used for data archive, specify SAS or ManagedIdentity, default value is SAS
        storage-subscription-id:
          type: string
          description: Subscription id of the storage container for data to be exported using ManagedIdentity.
      required:
      - prefix
      - container
    UpdateChannel:
      type: string
      description: 'Optional: Specifies the update channel for the monthly Redis updates your Redis Cache will receive. Caches using ''Preview'' update channel get latest Redis updates at least 4 weeks ahead of ''Stable'' channel caches. Default value is ''Stable''.'
      enum:
      - Stable
      - Preview
      x-ms-enum:
        name: UpdateChannel
        modelAsString: true
        values:
        - name: Stable
          value: Stable
          description: Stable channel receives updates, which may include important security and stability updates, later than Preview channel.
        - name: Preview
          value: Preview
          description: Preview channel normally receives updates before Stable channel, and is the recommended channel for non-production workloads.
    RedisKeyType:
      type: string
      description: The Redis access key to regenerate.
      enum:
      - Primary
      - Secondary
      x-ms-enum:
        name: RedisKeyType
        modelAsString: false
        values:
        - name: Primary
          value: Primary
          description: The primary access key
        - name: Secondary
          value: Secondary
          description: The secondary access key
    RedisForceRebootResponse:
      type: object
      description: Response to force reboot for Redis cache.
      properties:
        message:
          type: string
          description: Status message
          readOnly: true
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
